<div class="panel panel-success">
    <div class="panel-heading">
        Gestión de Transferencia entre Almacenes
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="table_container_transfer" class="table-responsive"></div>
            </div>
        </div>
        <div ng-include src="'/templates/transfers/form.html'"></div>
        <div ng-include src="'/templates/transfers/product.html'"></div>
        <div ng-include src="'/templates/transfers/referral_guide.html'"></div>
        <div ng-include src="'/templates/transfers/entity.html'"></div>
        <div ng-include src="'/templates/transfers/transport_company.html'"></div>
        <div ng-include src="'/templates/transfers/project.html'"></div>
        <div ng-include src="'/templates/transfers/serial.html'"></div>
        <div ng-include src="'/templates/transfers/stateGuide.html'"></div>
    </div>
</div>