<table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
    <tr class="info">
        <th colspan="6" class="text-left">
            <h4>Estado: <span class="show_state_table_2"></span></h4>
        </th>
    </tr>
    <tr>
        <th rowspan="2" width="50px">ITEM</th>
        <th rowspan="2">RESUMEN</th>
        <th colspan="2">PV1 - META</th>
        <th>AC - FACTURADO</th>
        <th>EV - GASTO</th>
    </tr>
    <tr>
        <th width="60px">%</th>
        <th width="70px">MONTO</th>
        <th width="90px">MONTO</th>
        <th width="90px">MONTO</th>
    </tr>
    </thead>
    <tbody id="show_table_2"></tbody>
</table>