<table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
    <tr class="info">
        <th colspan="6" class="text-left">
            <h4>Estado: <span class="show_state_table_1"></span></h4>
        </th>
    </tr>
    <tr>
        <th rowspan="2">ITEM</th>
        <th rowspan="2">DESCRIPCION</th>
        <th>LB - CONTRACTUAL</th>
        <th colspan="2">PV - REPLANTEO</th>
        <th colspan="2">EV - VALORIZACIÓN</th>
    </tr>
    <tr>
        <th width="120px">TOTAL (S/.)</th>
        <th width="90px">TOTAL (S/.)</th>
        <th width="30px">%</th>
        <th width="120px">TOTAL (S/.)</th>
    </tr>
    </thead>
    <tbody id="show_table_1"></tbody>
</table>