<div class="row">
    <div class="col-md-10">
        <div class="form-inline">
            <div class="form-group pull-right">
                <label>Mostrar:</label>
                <select class="form-control input-sm">
                    <option>TODO</option>
                    <option>VALORIZADOS</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="separator"></div>
<div class="table-responsive">
    <table class="table table-condensed table-bordered table-hover">
        <thead>
        <tr class="active">
            <th rowspan="2" class="text-center">CODIGO</th>
            <th rowspan="2" class="text-center">ESTRUCTURA</th>
            <th rowspan="2" class="text-center">ACUMULADO ANTERIOR</th>
            <th rowspan="2" colspan="3" class="text-center">VALORIZACIÓN</th>
            <th rowspan="2" class="text-center">ACUMULADO ACTUAL</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="text-center"></th>
            <th class="text-left"></th>
            <th class="text-center">TOTAL</th>
            <th class="text-center">LINEA PRIMARIA</th>
            <th class="text-center">RED PRIMARIA</th>
            <th class="text-center">TOTAL</th>
            <th class="text-center">TOTAL</th>
        </tr>
        <tr>
            <th class="text-center"></th>
            <th class="text-left text-success">SUMINISTRO DE MATERIALES Y EQUIPOS</th>
            <th class="text-right"></th>
            <th class="text-right"></th>
            <th class="text-right"></th>
            <th class="text-right"></th>
            <th class="text-right text-success">809,657.97</th>
        </tr>
        <tr>
            <th class="text-center"></th>
            <th class="text-left">POSTES DE CONCRETO Y ARMADO CERTRÍFUGA Y ACCESORIOS</th>
            <th class="text-right">87,861.19</th>
            <th class="text-right">2,000.000</th>
            <th class="text-right">3,000.00</th>
            <th class="text-right">50,000.00</th>
            <th class="text-right">137,861.19</th>
        </tr>
        <tr>
            <td class="text-center">1200901</td>
            <td class="text-left  text-padding-l-20">POSTE NORMALIZADO DE C.A.C. de 13/300/2/180/375</td>
            <td class="text-right">26,811.90</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">3,000.00</td>
            <td class="text-right">4,000.00</td>
            <td class="text-right">30,811.9</td>

        </tr>
        <tr>
            <td class="text-center">1200907</td>
            <td class="text-left text-padding-l-20"> POSTE NORMALIZADO DE C.A.C. de 13/400/2/180/375</td>
            <td class="text-right">60,251.40</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">2,000.00</td>
            <td class="text-right">3,000.00</td>
            <td class="text-right">63,251.4</td>
        </tr>
        <tr>
            <td class="text-center">1200033</td>
            <td class="text-left text-padding-l-20">PALOMILLA SIMPLE DE C.A.V. Mp/ 1,50/150</td>
            <td class="text-right">88.13</td>
            <td class="text-right">20.00</td>
            <td class="text-right">10.00</td>
            <td class="text-right">30.00</td>
            <td class="text-right">118,13</td>
        </tr>
        <tr>
            <td class="text-center">1200022</td>
            <td class="text-left text-padding-l-20">MENSULA DE CONCRETO ARMADO VIBRADO DE 1.0/250</td>
            <td class="text-right">3,312.96</td>
            <td class="text-right">30.00</td>
            <td class="text-right">30.00</td>
            <td class="text-right">60.00</td>
            <td class="text-right">3,372.96</td>
        </tr>
        <tr>
            <td class="text-center">1200035</td>
            <td class="text-left text-padding-l-20">PERRILLA DE CONCRETO</td>
            <td class="text-right">397.80</td>
            <td class="text-right">100.00</td>
            <td class="text-right">200.00</td>
            <td class="text-right">300.00</td>
            <td class="text-right">697.8</td>
        </tr>
        <tr>
            <td class="text-center">1200018</td>
            <td class="text-left text-padding-l-20">DUCTO DE CONCRETO DE 1,00m</td>
            <td class="text-right">0.00</td>
            <td class="text-right">300.00</td>
            <td class="text-right">200.00</td>
            <td class="text-right">500.00</td>
            <td class="text-right">500.00</td>
        </tr>
        <tr>
            <th class="text-center"></th>
            <th class="text-left">CRUCETAS DE MADERA</th>
            <th class="text-right">20.00</th>
            <th class="text-right">500.00</th>
            <th class="text-right">500.00</th>
            <th class="text-right">1,000.00</th>
            <th class="text-right">1,200.00</th>
        </tr>
        <tr>
            <td class="text-center">1200016</td>
            <td class="text-left text-padding-l-20">CRUCETA DE MADERA TRATADA DE 90 mm x 115 mm x 2.40 m</td>
            <td class="text-right">2,000.00</td>
            <td class="text-right">4,000.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">5,000.00</td>
            <td class="text-right">7,000.00</td>
        </tr>
        <tr>
            <td class="text-center">1200012</td>
            <td class="text-left text-padding-l-20">CRUCETA DE MADERA TRATADA DE 02 mm x 127 mm x 4,30 mm</td>
            <td class="text-right">9,486.00</td>
            <td class="text-right">500.00</td>
            <td class="text-right">200.00</td>
            <td class="text-right">700.00</td>
            <td class="text-right">10,186.00</td>
        </tr>
        <tr>
            <td class="text-center">1200007</td>
            <td class="text-left text-padding-l-20">CRUCETA DE MADERA TRATADA DE 102 mm x 102 mm x1.50 m</td>
            <td class="text-right">0.00</td>
            <td class="text-right">2,000</td>
            <td class="text-right">3,000.00</td>
            <td class="text-right">5,000.00</td>
            <td class="text-right">5,000.00</td>
        </tr>
        <tr>
            <th class="text-center"></th>
            <th class="text-left">CONDUCTORES Y ACCESORIOS</th>
            <th class="text-right">416,137.26</th>
            <th class="text-right">500.00</th>
            <th class="text-right">500.00</th>
            <th class="text-right">1,000.00</th>
            <th class="text-right">417,137.26</th>
        </tr>
        <tr>
            <td class="text-center">1202284</td>
            <td class="text-left text-padding-l-20">CONDUCTOR CON ALEACIÓN DE ALUMINIO 6201-T81 (AAAC), cableado 25mm2</td>
            <td class="text-right">0.00</td>
            <td class="text-right">200.00</td>
            <td class="text-right">700.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">1,000.00</td>
        </tr>
        <tr>
            <td class="text-center">1202285</td>
            <td class="text-left text-padding-l-20">CONDUCTOR CON ALEACIÓN DE ALUMINIO 6201-T81 (AAAC), cableado 35mm2</td>
            <td class="text-right">2,155.10</td>
            <td class="text-right">2,000.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">3,000.00</td>
            <td class="text-right">5,155.10</td>
        </tr>
        <tr>
            <td class="text-center">1202286</td>
            <td class="text-left text-padding-l-20">CONDUCTOR CON ALEACIÓN DE ALUMINIO 6201-T81 (AAAC), cableado 50mm2</td>
            <td class="text-right">36,973.53</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">2,000.00</td>
            <td class="text-right">38,973.53</td>
        </tr>
        <tr>
            <th class="text-center"></th>
            <th class="text-left">MATERIAL DE FERRETERIA PARA POSTES Y CRUCETAS</th>
            <th class="text-right">13,000.00</th>
            <th class="text-right">500.00</th>
            <th class="text-right">500.00</th>
            <th class="text-right">1,000.00</th>
            <th class="text-right">14,000.00</th>
        </tr>
        <tr>
            <td class="text-center">1205430
            <td class="text-left text-padding-l-20">PERNO COCHE DE A°G° 13 mm ø x 152 mm long. 76 mm maq. CON ARANDELAS,
                TUERCA
            </td>
            <td class="text-right">200.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">2,000.00</td>
            <td class="text-right">2,200.00</td>
        </tr>
        <tr>
            <td class="text-center">1205501</td>
            <td class="text-left text-padding-l-20">PERNO COCHE DE A°G° 13 mm ø x 152 mm long. 76 mm maq. CON ARANDELAS,
                TUERCA
            </td>
            <td class="text-right">200.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">2,000.00</td>
            <td class="text-right">2,200.00</td>
        </tr>
        <tr>
            <th class="text-center"></th>
            <th class="text-left">RETENIDAS Y ANCLAJES</th>
            <th class="text-right">20,000.00</th>
            <th class="text-right">500.00</th>
            <th class="text-right">500.00</th>
            <th class="text-right">1,000.00</th>
            <th class="text-right">21,000.00</th>
        </tr>
        <tr>
            <td class="text-center">1205123</td>
            <td class="text-left text-padding-l-20">CABLE DE ACERO TIPO HS ,ALTA RESISTENCIA DE 10 mm Ø</td>
            <td class="text-right">200.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">2,000.00</td>
            <td class="text-right">3,000.00</td>
            <td class="text-right">3,200.00</td>
        </tr>
        <tr>
            <td class="text-center">1205124</td>
            <td class="text-left text-padding-l-20">ARANDELA DE ANCLAJE DE ACERO DE 102X102X6,35 mm CON AGUJERO CENTRAL DE
                18 mm Ø
            </td>
            <td class="text-right">300.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">2,000.00</td>
            <td class="text-right">3,000.00</td>
            <td class="text-right">3,300.00</td>
        </tr>
        <tr>
            <th class="text-center"></th>
            <th class="text-left text-success">MONTAJE E ELECTROMECÁNICO</th>
            <th class="text-right"></th>
            <th class="text-right"></th>
            <th class="text-right"></th>
            <th class="text-right"></th>
            <th class="text-right text-success">808,657.97</th>
        </tr>
        <tr>
            <th class="text-center"></th>
            <th class="text-left">OBRAS PRELIMINARES</th>
            <th class="text-right">15,000.00</th>
            <th class="text-right">500.00</th>
            <th class="text-right">500.00</th>
            <th class="text-right">1,000.00</th>
            <th class="text-right">16,000.00</th>
        </tr>
        <tr>
            <td class="text-center">1205125</td>
            <td class="text-left text-padding-l-20">CARTEL PARA OBRA</td>
            <td class="text-right">30.00</td>
            <td class="text-right">1.00</td>
            <td class="text-right">2.00</td>
            <td class="text-right">3.00</td>
            <td class="text-right">33.00</td>
        </tr>
        <tr>
            <td class="text-center">1205126</td>
            <td class="text-left text-padding-l-20">INGENIERÍA DE DETALLE Y EXPEDIENTE DE REPLANTEOA</td>
            <td class="text-right">5,000.00</td>
            <td class="text-right">6,000.00</td>
            <td class="text-right">4,000.00</td>
            <td class="text-right">10,000.00</td>
            <td class="text-right">15,000.00</td>
        </tr>
        <tr>
            <th class="text-center"></th>
            <th class="text-left">INSTALACION DE POSTES DE CONCRETO</th>
            <th class="text-right">42,000.00</th>
            <th class="text-right">500.00</th>
            <th class="text-right">500.00</th>
            <th class="text-right">1,000.00</th>
            <th class="text-right">43,000.00</th>
        </tr>
        <tr>
            <td class="text-center">1205127</td>
            <td class="text-left text-padding-l-20">EXCAVACIÓN EN TERRENO NORMAL (INCLUYE ELIMINACION DE DESMONTE</td>
            <td class="text-right">3,000.00</td>
            <td class="text-right">6,000.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">7,000.00</td>
            <td class="text-right">10,000.00</td>
        </tr>
        <tr>
            <td class="text-center">1205128</td>
            <td class="text-left text-padding-l-20">DISTRIBUCIÓN DE POSTES DE CONCRETO, DE ALMACÉN A PUNTO DE IZAJE SIN
                CAMIÓN GRÚA
            </td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">6,000.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">7,000.00</td>
            <td class="text-right">8,000.00</td>
        </tr>
        <tr>
            <th class="text-center"></th>
            <th class="text-left">INSTALACION DE RETENIDAS</th>
            <th class="text-right">11,000.00</th>
            <th class="text-right">500.00</th>
            <th class="text-right">500.00</th>
            <th class="text-right">1,000.00</th>
            <th class="text-right">12,000.00</th>
        </tr>
        <tr>
            <td class="text-center">1205129</td>
            <td class="text-left text-padding-l-20">EXCAVACIÓN EN TERRENO NORMAL (INCLUYE ELIMINACION DE DESMONTE)</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">6,000.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">7,000.00</td>
            <td class="text-right">8,000.00</td>
        </tr>
        <tr>
            <td class="text-center">1205130</td>
            <td class="text-left text-padding-l-20">INSTALACIÓN DE RETENIDA INCLINADA</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">5,000.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">6,000.00</td>
            <td class="text-right">7,000.00</td>
        </tr>
        <tr>
            <th class="text-center"></th>
            <th class="text-left">INSTALACION DE CONDUCTOR</th>
            <th class="text-right">20,000.00</th>
            <th class="text-right">500.00</th>
            <th class="text-right">500.00</th>
            <th class="text-right">1,000.00</th>
            <th class="text-right">21,000.00</th>
        </tr>
        <tr>
            <td class="text-center">1205131</td>
            <td class="text-left text-padding-l-20">TENDIDO Y PUESTA EN FLECHA DE CONDUCTOR AAAC 25mm²/FASE</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">5,000.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">6,000.00</td>
            <td class="text-right">7,000.00</td>
        </tr>
        <tr>
            <td class="text-center">1205132</td>
            <td class="text-left text-padding-l-20">TENDIDO Y PUESTA EN FLECHA DE CONDUCTOR AAAC 35mm²/FASE</td>
            <td class="text-right">3,000.00</td>
            <td class="text-right">5,000.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">6,000.00</td>
            <td class="text-right">9,000.00</td>
        </tr>
        <tr>
            <th class="text-center"></th>
            <th class="text-left">MONTAJE DE ARMADOS</th>
            <th class="text-right">18,000.00</th>
            <th class="text-right">500.00</th>
            <th class="text-right">500.00</th>
            <th class="text-right">1,000.00</th>
            <th class="text-right">19,000.00</th>
        </tr>
        <tr>
            <td class="text-center">1205133</td>
            <td class="text-left text-padding-l-20">ARMADO TIPO PS1-3/PS1-3L</td>
            <td class="text-right">3,000.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">2,000.00</td>
            <td class="text-right">5,000.00</td>
        </tr>
        <tr>
            <td class="text-center">1205134</td>
            <td class="text-left text-padding-l-20">ARMADO TIPO PA1-3/PA1-3L</td>
            <td class="text-right">4,000.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">1,000.00</td>
            <td class="text-right">2,000.00</td>
            <td class="text-right">6,000.00</td>
        </tr>
        </tbody>
    </table>
</div>