<div class="list-group">
    <span class="show_list1 show_list_mat">
        <a data-target="#" class="list-group-item active">
            POSTES Y ESTRUCTURAS
        </a>
    </span>
    <span class="show_list2 show_list_mat">
        <a data-target="#" class="list-group-item active">
            FERRETERIA
        </a>
    </span>
    <!--<span class="show_list3 show_list_mat">-->
        <!--<a data-target="#" class="list-group-item active">-->
            <!--EXCAVACION DE HOYOS-->
        <!--</a>-->
        <!--<a data-target="#" class="list-group-item">-->
            <!--INSTALACION DE POSTES-->
        <!--</a>-->
    <!--</span>-->
    <!--<span class="show_list4 show_list_mat">-->
        <!--<a data-target="#" class="list-group-item active">-->
            <!--EXCAVACION DE TERRENO NORMAL-->
        <!--</a>-->
        <!--<a data-target="#" class="list-group-item">-->
            <!--INSTALACION DE RETENIDA INCLINADA-->
        <!--</a>-->
    <!--</span>-->
</div>