<div class="table-responsive">
    <table class="table table-bordered table-hovered table-striped hide show_2">
        <thead>
        <tr>
            <th class="text-center" rowspan="2">Id</th>
            <th class="text-center" rowspan="2">Descripcion</th>
            <th class="text-center" rowspan="2">Und</th>
            <th class="text-center" colspan="3">Valorización</th>
        </tr>
        <tr>
            <th class="text-center">Precio</th>
            <th class="cantidad_input text-center">Cantidad</th>
            <th class="text-center">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>09342</td>
            <td>POSTES</td>
            <td>UN</td>
            <td class="text-right">20.00</td>
            <td class="text-right"><input type="text" class="form-control input-xs text-right" value="5"></td>
            <td class="text-right">100.00</td>
        </tr>
        <tr>
            <td>00290</td>
            <td>ESTRUCTURA DE FG</td>
            <td>UN</td>
            <td class="text-right">10.00</td>
            <td class="text-right"><input type="text" class="form-control input-xs text-right" value="16"></td>
            <td class="text-right">160.00</td>
        </tr>
        <tr>
            <td>00291</td>
            <td>CRUCETAS</td>
            <td>UN</td>
            <td class="text-right">8.00</td>
            <td class="text-right"><input type="text" class="form-control input-xs text-right exp" value="3"></td>
            <td class="text-right">24.00</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="5" class="text-right">
                <span class="show_2">Total Material</span>
            </th>
            <td class="text-right">284.00</td>
        </tr>
        </tfoot>
    </table>
</div>