<table class="table table-condensed table-bordered table-hover">
    <thead>
    <tr class="active">
        <th rowspan="2" class="text-center">CODIGO</th>
        <th rowspan="2" class="text-center">SUBPROYECTO</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="text-center">12322</td>
        <td class="text-left">SUMINISTRO Y MATERIALES</td>
    </tr>
    <tr>
        <td class="text-center">13236</td>
        <td class="text-left">MONTAJE ELECTROMECÁNICO</td>
    </tr>
    <tr>
        <td class="text-center">12425</td>
        <td class="text-left">DESMONTAJE ELECTROMECÁNICO</td>
    </tr>
    </tbody>
</table>