<div class="panel panel-success">
    <div class="panel-heading">
        Gestión de Devolución de Consumo
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="table_container_consumer_return" class="table-responsive"></div>
            </div>
        </div>
        <div ng-include src="'/templates/consumer_returns/form.html'"></div>
        <div ng-include src="'/templates/consumer_returns/product.html'"></div>
        <div ng-include src="'/templates/consumer_returns/front.html'"></div>
        <div ng-include src="'/templates/consumer_returns/project.html'"></div>
    </div>
</div>