<div class="panel panel-success">
    <div class="panel-heading">
        Gestión de Consumo
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="table_container_consumption" class="table-responsive"></div>
            </div>
        </div>
        <div ng-include src="'/templates/consumptions/form.html'"></div>
        <div ng-include src="'/templates/consumptions/articles.html'"></div>
        <div ng-include src="'/templates/consumptions/requirements.html'"></div>
        <div ng-include src="'/templates/consumptions/fronts.html'"></div>
        <div ng-include src="'/templates/consumptions/project.html'"></div>
    </div>
</div>