<div class="panel panel-success">
    <div class="panel-heading">
        Gestión de Guía de Remisión
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="table_container_rg" class="table-responsive"></div>
            </div>
        </div>
        <div ng-include src="'/templates/referral_guides/form.html'"></div>
        <div ng-include src="'/templates/referral_guides/entity.html'"></div>
        <div ng-include src="'/templates/referral_guides/projects.html'"></div>
        <div ng-include src="'/templates/referral_guides/transportCompany.html'"></div>
        <div ng-include src="'/templates/referral_guides/serial.html'"></div>
        <div ng-include src="'/templates/referral_guides/stateGuide.html'"></div>
    </div>
</div>