<!-- Modal -->
<div class="modal" id="modalB" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="title-buy"></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <input type="hidden" id="buyer_id">
                        <label class="col-sm-3 control-label">Código</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control input-sm" id="code">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Descripción</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control input-sm" id="description">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Estado</label>
                        <div class="col-sm-9">
                            <label class="checkbox-inline i-checks">
                                <input type="checkbox" id="state" checked>
                                <span id="state_text">Activo</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Usuario</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <input type="hidden" id="user_id"/>
                                <input type="text" id="username" class="form-control input-sm" readonly="readonly">
                                <span class="input-group-btn">
                                    <button class="btn btn-success btn-sm btn-group_sm" type="button"
                                            ng-click="openUser()">
                                        <span class="fa fa-search-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger-admin btn-sm" ng-click="saveBuyer()">
                    <span class="fa fa-save"></span>
                    Guardar
                </button>
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">
                    <span class="fa fa-times"></span> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>

