<div class="panel panel-success">
    <div class="panel-heading">
        Generación de Ordenes de Compra
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                        <tr>
                            <th><input type="checkbox" checked></th>
                            <th>Cotización</th>
                            <th>Descripción</th>
                            <th>Proveedor</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><input type="checkbox" checked></td>
                            <td>20170158</td>
                            <td>COTIZACION COMPRA MATERIALES</td>
                            <td>3 P & CIA SAC</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" checked></td>
                            <td>20170159</td>
                            <td>COTIZACION COMPRA MATERIALES CONTRUCCION</td>
                            <td>INDUSTRIA DE SEGURIDAD EL PROGRESO S.A.C.</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" checked></td>
                            <td>20170160</td>
                            <td>COTIZACION COMPRA MATERIALES CONTRUCCION VIVIENDA</td>
                            <td>KAPEK INTERNACIONAL SAC</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <button class="btn btn-sm btn-success" type="button">
                        <span class="fa fa-check-circle"></span>
                        Generar Ordenes de Compra
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>