<div class="panel panel-success">
    <div class="panel-heading">
        <div class="pull-right date_range_div">
            <label class="checkbox-inline chk_date_range_div" style="padding-left:0">
                <input type="checkbox" checked class="chk_date_range" />
            </label>
            <div id="reqDates" class="">
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <b class="caret"></b>
            </div>
        </div>
        Gestión de Proyectos
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="table_container_p" class="table-responsive"></div>
            </div>
        </div>
        <div ng-include src="'/templates/projects/form.html'"></div>
        <div ng-include src="'/templates/projects/modal_client.html'"></div>
        <div ng-include src="'/templates/projects/subprojects.html'"></div>
        <div ng-include src="'/templates/projects/analysis.html'"></div>
        <div ng-include src="'/templates/projects/analysis_pro.html'"></div>
        <div ng-include src="'/templates/projects/analysis_fro.html'"></div>
        <div ng-include src="'/templates/projects/gg.html'"></div>
        <div ng-include src="'/templates/projects/level.html'"></div>
        <div ng-include src="'/templates/projects/estructure.html'"></div>
        <div ng-include src="'/templates/projects/estructure_income.html'"></div>
    </div>
</div>