<div class="separator"></div>
<div class="form-inline">
    <div class="form-group">
        <label>SubProyecto</label>
        <select class="form-control input-sm" id="p_inc_sub_projects">
            <option value="">--Seleccione--</option>
        </select>
    </div>
</div>
<div class="separator"></div>
<div class="row">
    <div class="col-md-3">
        <div class="table-responsive hide" id="p_table_structure_level">
            <table class="table table-bordered table-hover margin-none">
                <thead>
                <tr>
                    <th>ESTRUCTURA</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td id="t_body_income_levels"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="separator show_edit_level hide"></div>
        <div class="show_edit_level show_edit_activity hide">
            <div class="btn-group" role="group">
                <button class="btn btn-sm btn-success" type="button">
                    Agregar Actividad
                </button>
                <button class="btn btn-sm btn-danger" type="button">
                    Eliminar Actividad
                </button>
            </div>
        </div>
        <div class="separator"></div>
        <div class="list-group" id="p_inc_list_activity"></div>
    </div>
    <div class="col-md-9">
        <div ng-include src="'/templates/projects/pv.html'"></div>
    </div>
</div>