<div class="panel panel-success">
    <div class="panel-heading">
        Gestión de Pagos de Compras y Gastos
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="table_container_purchase_payments" class="table-responsive"></div>
            </div>
        </div>
        <div ng-include src="'/templates/purchase_payments/form.html'"></div>
        <div ng-include src="'/templates/purchase_payments/provider.html'"></div>
        <div ng-include src="'/templates/purchase_payments/purchase_billing.html'"></div>
        <div ng-include src="'/templates/purchase_payments/balance_control.html'"></div>
    </div>
</div>