<div class="panel panel-success">
    <div class="panel-heading">
        Gestión de Permisos
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 form-inline">
                <div class="form-group">
                    <label>
                        Perfil
                    </label>
                    <select class="form-control input-sm" ng-model="profile" id="profile" ng-change="changeProfile()"
                            style="min-width: 200px; margin-bottom: 10px"></select>
                </div>
            </div>
            <div class="col-xs-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Lista de Permisos</h3>
                    </div>

                    <div class="panel-body">
                        <select size="16" multiple class="form-control" id="listPermissions"></select>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 text-center">
                <br/><br/>
                <button type="button" ng-click="add()" class="btn btn-success btn-block btn-sm btn-block-md" title="Agregar">
                    <i class="fa fa-arrow-right"></i>
                </button>
                <br/><br/>
                <button type="button" ng-click="del()" class="btn btn-danger btn-block btn-sm btn-block-md" title="Eliminar">
                    <i class="fa fa-remove"></i>
                </button>
                <br/><br/>
                <a data-target="#" ng-click="reload()" class="btn btn-primary btn-block btn-sm btn-block-md" title="Guardar Cambios">
                    <i class="fa fa-check"></i>
                </a>
            </div>

            <div class="col-xs-5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Permisos del Perfil</h3>
                    </div>

                    <div class="panel-body">
                        <select size="16" multiple class="form-control" id="permissions"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>