<div class="panel panel-success">
    <div class="panel-heading">
        Gestión de Cobros de Ventas
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="table_container_sales_charges" class="table-responsive"></div>
            </div>
        </div>
        <div ng-include src="'/templates/sales_charges/form.html'"></div>
        <div ng-include src="'/templates/sales_charges/client.html'"></div>
        <div ng-include src="'/templates/sales_charges/direct_billing.html'"></div>
        <div ng-include src="'/templates/sales_charges/balance_control.html'"></div>
    </div>
</div>