<!-- Modal -->
<div class="modal" id="modalAnalysisPro" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Análisis de precios unitarios</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Partida</label>
                        <label class="col-sm-1 control-label">1702018</label>
                        <label class="col-sm-9 control-label">
                            Distribución de postes de concreto, de almacén a punto de izaje sin camión grúa
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">HTrabajo/Día</label>
                        <label class="col-sm-1 control-label">8</label>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Rendimiento</label>
                        <label class="col-sm-1 control-label">UN/Día</label>
                        <div class="col-md-2">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">MO.</span>
                                <input type="text" class="form-control text-right" value="4.0000">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">EQ.</span>
                                <input type="text" class="form-control text-right" value="4.0000">
                            </div>
                        </div>
                        <label class="col-sm-3 control-label" style="text-align: right !important;">
                            Costo unitario directo por:
                        </label>
                        <div class="col-md-2">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">UN</span>
                                <input type="text" class="form-control text-right" readonly value="1,830.25">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Mano de Obra</th>
                            <th>Unidad</th>
                            <th width="50px">Cuadrilla</th>
                            <th width="70px">H-H/Und</th>
                            <th width="50px">Precio S/.</th>
                            <th width="70px">Parcial S/.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">1401007</td>
                            <td>Oficial</td>
                            <td class="text-center">hh</td>
                            <td class="text-right">3.0000</td>
                            <td class="text-right">6.0000</td>
                            <td><input type="text" class="text-right" value="15.99" style="width: 65px;" /></td>
                            <td class="text-right">95.9400</td>
                        </tr>
                        <tr>
                            <td class="text-center">1401006</td>
                            <td>Peón</td>
                            <td class="text-center">hh</td>
                            <td class="text-right">12.0000</td>
                            <td class="text-right">24.0000</td>
                            <td><input type="text" class="text-right" value="14.80" style="width: 65px;" /></td>
                            <td class="text-right">355.2000</td>
                        </tr>
                        <tr>
                            <td class="text-center">1401001</td>
                            <td>Capataz</td>
                            <td class="text-center">hh</td>
                            <td class="text-right">1.0000</td>
                            <td class="text-right">2.0000</td>
                            <td><input type="text" class="text-right" value="13.00" style="width: 65px;" /></td>
                            <td class="text-right">26.0000</td>
                        </tr>
                        <tr>
                            <td class="text-center">1401004</td>
                            <td>Operario</td>
                            <td class="text-center">hh</td>
                            <td class="text-right">4.0000</td>
                            <td class="text-right">8.0000</td>
                            <td><input type="text" class="text-right" value="15.20" style="width: 65px;" /></td>
                            <td class="text-right">121.6000</td>
                        </tr>
                        <tr>
                            <td class="text-center">1401010</td>
                            <td>Topografo Operador de Teodolito</td>
                            <td class="text-center">hh</td>
                            <td class="text-right">1.0000</td>
                            <td class="text-right">2.0000</td>
                            <td><input type="text" class="text-right" value="17.00" style="width: 65px;" /></td>
                            <td class="text-right">34.0000</td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td class="text-right"><b>42.000</b></td>
                            <td></td>
                            <td class="text-right"><b>632.74</b></td>
                        </tr>
                        </tbody>
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Materiales</th>
                            <th>Unidad</th>
                            <th></th>
                            <th>Cant/Und</th>
                            <th>Precio S/.</th>
                            <th>Parcial S/.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">1500000</td>
                            <td>Cemento Portland</td>
                            <td class="text-center">Unidad</td>
                            <td></td>
                            <td class="text-right">30.0000</td>
                            <td><input type="text" class="text-right" value="18.64" style="width: 65px;" /></td>
                            <td class="text-right">559.2000</td>
                        </tr>
                        <tr>
                            <td class="text-center">1502000</td>
                            <td>Estaca de madera</td>
                            <td class="text-center">kg</td>
                            <td></td>
                            <td class="text-right">0.5000</td>
                            <td><input type="text" class="text-right" value="43.43" style="width: 65px;" /></td>
                            <td class="text-right">21.7150</td>
                        </tr>
                        <tr>
                            <td class="text-center fa-red">1507071</td>
                            <td>Materiales Varios 5% mano de obra</td>
                            <td class="text-center fa-red">%mo</td>
                            <td></td>
                            <td class="text-right">5.0000</td>
                            <td class="text-right">632.7400</td>
                            <td class="text-right">31.6370</td>
                        </tr>
                        <tr>
                            <td colspan="6"></td>
                            <td class="text-right"><b>612.55</b></td>
                        </tr>
                        </tbody>
                        <thead>
                        <tr>
                            <th>Código</th>
                            <th>Equipos</th>
                            <th>Unidad</th>
                            <th>Equipamiento</th>
                            <th>H-M/Und</th>
                            <th>Precio S/.</th>
                            <th>Parcial S/.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-center">1602037</td>
                            <td>Teodolito</td>
                            <td class="text-center">he</td>
                            <td class="text-right">1.0000</td>
                            <td class="text-right">2.0000</td>
                            <td><input type="text" class="text-right" value="12.08" style="width: 65px;" /></td>
                            <td class="text-right">24.1600</td>
                        </tr>
                        <tr>
                            <td class="text-center">1600009</td>
                            <td>Tractor agricola con carreta  3 Tn</td>
                            <td class="text-center">hm</td>
                            <td class="text-right">1.0000</td>
                            <td class="text-right">2.0000</td>
                            <td><input type="text" class="text-right" value="183.00" style="width: 65px;" /></td>
                            <td class="text-right">366.0000</td>
                        </tr>
                        <tr>
                            <td class="text-center">1601025</td>
                            <td>Winche de 3 Tn</td>
                            <td class="text-center">hm</td>
                            <td class="text-right">1.0000</td>
                            <td class="text-right">2.0000</td>
                            <td><input type="text" class="text-right" value="33.76" style="width: 65px;" /></td>
                            <td class="text-right">67.5200</td>
                        </tr>
                        <tr>
                            <td class="text-center">1601009</td>
                            <td>Freno Hidraulico 3 Tn</td>
                            <td class="text-center">hm</td>
                            <td class="text-right">1.0000</td>
                            <td class="text-right">2.0000</td>
                            <td><input type="text" class="text-right" value="31.50" style="width: 65px;" /></td>
                            <td class="text-right">63.0000</td>
                        </tr>
                        <tr>
                            <td class="text-center fa-red">1602019</td>
                            <td>Herramientas 5% mano de obra</td>
                            <td class="text-center fa-red">%mo</td>
                            <td></td>
                            <td class="text-right">5.0000</td>
                            <td class="text-right">632.7400</td>
                            <td class="text-right">31.6370</td>
                        </tr>
                        <tr>
                            <td class="text-center">1602015</td>
                            <td>Escalera</td>
                            <td class="text-center">hm</td>
                            <td class="text-right">3.0000</td>
                            <td class="text-right">6.0000</td>
                            <td><input type="text" class="text-right" value="1.65" style="width: 65px;" /></td>
                            <td class="text-right">9.9000</td>
                        </tr>
                        <tr>
                            <td class="text-center">1601023</td>
                            <td>Tirfor 3 Tn</td>
                            <td class="text-center">hm</td>
                            <td class="text-right">3.0000</td>
                            <td class="text-right">6.0000</td>
                            <td><input type="text" class="text-right" value="3.79" style="width: 65px;" /></td>
                            <td class="text-right">22.7400</td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td class="text-right"><b>20.000</b></td>
                            <td></td>
                            <td class="text-right"><b>584.96</b></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success">
                    <span class="fa fa-save"></span> Guardar
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <span class="fa fa-times"></span> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>