<table class="table table-condensed table-bordered table-hover">
    <thead>
    <tr class="active">
        <th rowspan="2" class="text-center">CODIGO</th>
        <th rowspan="2" class="text-center">ESTRUCTURA</th>
        <th rowspan="2" class="text-center">UND</th>
        <th colspan="3" class="text-center">LB</th>
        <th colspan="3" class="text-center">PV - REPLANTEO</th>
        <th colspan="3" class="text-center">PV1 - META</th>
    </tr>
    <tr class="active">
        <th class="text-center">CANT</th>
        <th class="text-center">PU</th>
        <th class="text-center">TOTAL</th>
        <th class="text-center">CANT</th>
        <th class="text-center">PU</th>
        <th class="text-center">TOTAL</th>
        <th class="text-center">CANT</th>
        <th class="text-center">PU</th>
        <th class="text-center">TOTAL</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th class="text-center">1</th>
        <th class="text-left">TOTAL GASTOS Y MATERIALES</th>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">34,894.00</th>
        <th></th>
        <th></th>
        <th class="text-right">34,894.00</th>
        <th></th>
        <th></th>
        <th class="text-right">27,819.00</th>
    </tr>
    <tr>
        <th class="text-center">12</th>
        <th class="text-left">MATERIALES</th>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">649.00</th>
        <th></th>
        <th></th>
        <th class="text-right">649.00</th>
        <th></th>
        <th></th>
        <th class="text-right">2,087.00</th>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1200</td>
        <td class="text-left text-success text-bold">POSTES Y ACCESORIOS</td>
        <td></td>
        <td class="text-right">-</td>
        <td></td>
        <td class="text-right">60.00</td>
        <td></td>
        <td></td>
        <td class="text-right">60.00</td>
        <td></td>
        <td></td>
        <td class="text-right">30.00</td>
    </tr>
    <tr>
        <td class="text-center">120000</td>
        <td class="text-left text-padding-l-20">BLOQUE DE CONCRETO ARMADO 0.40 X 0.40 X 0.15M</td>
        <td class="text-center">UM</td>
        <td class="text-right">4.00</td>
        <td>2.00</td>
        <td class="text-right">8.00</td>
        <td>4.00</td>
        <td>2.00</td>
        <td class="text-right">8.00</td>
        <td>5.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="2.00"></td>
        <td class="text-right">10.00</td>
    </tr>
    <tr>
        <td class="text-center">120001</td>
        <td class="text-left text-padding-l-20">BLOQUE DE CONCRETO ARMADO 0.50 X 0.50 X 0.20M</td>
        <td class="text-center">UM</td>
        <td class="text-right">6.00</td>
        <td>2.00</td>
        <td class="text-right">12.00</td>
        <td>6.00</td>
        <td>2.00</td>
        <td class="text-right">12.00</td>
        <td>5.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="2.00"></td>
        <td class="text-right">10.00</td>
    </tr>
    <tr>
        <td class="text-center">120003</td>
        <td class="text-left text-padding-l-20">CRUCETA DE CONCRETO ARMADO VIBRADO Z/1.5/300</td>
        <td class="text-center">UM</td>
        <td class="text-right">5.00</td>
        <td>4.00</td>
        <td class="text-right">20.00</td>
        <td>5.00</td>
        <td>4.00</td>
        <td class="text-right">20.00</td>
        <td>3.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="2.00"></td>
        <td class="text-right">6.00</td>
    </tr>
    <tr>
        <td class="text-center">120004</td>
        <td class="text-left text-padding-l-20">CRUCETA DE CONCRETO ARMADO VIBRADO Z/2.0/300</td>
        <td class="text-center">UM</td>
        <td class="text-right">5.00</td>
        <td>6.00</td>
        <td class="text-right">30.00</td>
        <td>5.00</td>
        <td>6.00</td>
        <td class="text-right">30.00</td>
        <td>4.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="1.00"></td>
        <td class="text-right">4.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1201</td>
        <td class="text-left text-success text-bold">AISLADORES Y ACCESORIOS</td>
        <td></td>
        <td class="text-right"></td>
        <td></td>
        <td class="text-right">120.00</td>
        <td></td>
        <td></td>
        <td class="text-right">120.00</td>
        <td></td>
        <td></td>
        <td class="text-right">1200.00</td>
    </tr>
    <tr>
        <td class="text-center">1201000</td>
        <td class="text-left text-padding-l-20">ADAPTADOR ANILLO BOLA</td>
        <td class="text-center">UM</td>
        <td class="text-right">10.00</td>
        <td>2.00</td>
        <td class="text-right">20.00</td>
        <td>10.00</td>
        <td>2.00</td>
        <td class="text-right">20.00</td>
        <td>20.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="1.00"></td>
        <td class="text-right">20.00</td>
    </tr>
    <tr>
        <td class="text-center">1201001</td>
        <td class="text-left text-padding-l-20">ADAPTADOR CASQUILLO HORQUILLA</td>
        <td class="text-center">UM</td>
        <td class="text-right">5.00</td>
        <td>2.00</td>
        <td class="text-right">10.00</td>
        <td>5.00</td>
        <td>2.00</td>
        <td class="text-right">10.00</td>
        <td>10.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="1.00"></td>
        <td class="text-right">10.00</td>
    </tr>
    <tr>
        <td class="text-center">1201002</td>
        <td class="text-left text-padding-l-20">ADAPTADOR CASQUILLO OJO CORTO</td>
        <td class="text-center">UM</td>
        <td class="text-right">10.00</td>
        <td>1.00</td>
        <td class="text-right">10.00</td>
        <td>10.00</td>
        <td>1.00</td>
        <td class="text-right">10.00</td>
        <td>20.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="1.00"></td>
        <td class="text-right">20.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1202</td>
        <td class="text-left text-success text-bold">CONDUCTORES Y CABLES (AL Y CU)</td>
        <td></td>
        <td class="text-right"></td>
        <td></td>
        <td class="text-right">10.00</td>
        <td></td>
        <td></td>
        <td class="text-right">10.00</td>
        <td></td>
        <td></td>
        <td class="text-right">200.00</td>
    </tr>
    <tr>
        <td class="text-center">1202000</td>
        <td class="text-left text-padding-l-20">CABLE A° G° 1/2"Ø HILOS, ALTA RESISTENCIA. (13MM DIAM)</td>
        <td class="text-center">M</td>
        <td class="text-right">5.00</td>
        <td>1.00</td>
        <td class="text-right">5.00</td>
        <td>5.00</td>
        <td>1.00</td>
        <td class="text-right">5.00</td>
        <td>10.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="1.00"></td>
        <td class="text-right">10.00</td>
    </tr>
    <tr>
        <td class="text-center">1202001</td>
        <td class="text-left text-padding-l-20">CABLE A° G° 1/4"Ø HILOS, ALTA RESISTENCIA. (13MM DIAM)</td>
        <td class="text-center">M</td>
        <td class="text-right">4.00</td>
        <td>1.00</td>
        <td class="text-right">4.00</td>
        <td>4.00</td>
        <td>1.00</td>
        <td class="text-right">4.00</td>
        <td>40.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="1.00"></td>
        <td class="text-right">40.00</td>
    </tr>
    <tr>
        <td class="text-center">1202002</td>
        <td class="text-left text-padding-l-20">CABLE A° G° 3/8"Ø HILOS, ALTA RESISTENCIA. (13MM DIAM)</td>
        <td class="text-center">M</td>
        <td class="text-right">1.00</td>
        <td>1.00</td>
        <td class="text-right">1.00</td>
        <td>1.00</td>
        <td>1.00</td>
        <td class="text-right">1.00</td>
        <td>150.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="1.00"></td>
        <td class="text-right">150.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1203</td>
        <td class="text-left  text-success text-bold">EQUIPOS Y ACC PARA MEDICIÓN, CONTROL Y PROTECCIÓN</td>
        <td></td>
        <td class="text-right"></td>
        <td></td>
        <td class="text-right">200.00</td>
        <td></td>
        <td></td>
        <td class="text-right">200.00</td>
        <td></td>
        <td></td>
        <td class="text-right">200.00</td>
    </tr>
    <tr>
        <td class="text-center">1203000</td>
        <td class="text-left text-padding-l-20">CONCENTRADOR PARA RECLOSERS CON RELOJ GPRS Y MODEM GPRS TCP</td>
        <td class="text-center">UN</td>
        <td class="text-right">20.00</td>
        <td>2.00</td>
        <td class="text-right">40.00</td>
        <td>20.00</td>
        <td>2.00</td>
        <td class="text-right">40.00</td>
        <td>40.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="1.00"></td>
        <td class="text-right">40.00</td>
    </tr>
    <tr>
        <td class="text-center">12030001</td>
        <td class="text-left text-padding-l-20">CONCENTRADOR DE DATOS PARA INDICADORES DE FALLA CON SISTEMA DE
            ALIMENTACIÓN AUTÓNOMA
        </td>
        <td class="text-center">UN</td>
        <td class="text-right">30.00</td>
        <td>2.00</td>
        <td class="text-right">60.00</td>
        <td>30.00</td>
        <td>2.00</td>
        <td class="text-right">60.00</td>
        <td>60.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="1.00"></td>
        <td class="text-right">60.00</td>
    </tr>
    <tr>
        <td class="text-center">1203001</td>
        <td class="text-left text-padding-l-20">CONTROLADOR PROGRAMABLE PARA CONFIGURACIÓN INALAMBRICA DE LOS
            SECCIONALIZADOTRES
        </td>
        <td class="text-center">UN</td>
        <td class="text-right">25.00</td>
        <td>2.00</td>
        <td class="text-right">50.00</td>
        <td>25.00</td>
        <td>2.00</td>
        <td class="text-right">50.00</td>
        <td>50.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="1.00"></td>
        <td class="text-right">50.00</td>
    </tr>
    <tr>
        <td class="text-center">1203002</td>
        <td class="text-left text-padding-l-20">EMPALME AUTOCONTRAIBLE 185 MM2, PARA CABLE SECO, USO INTERIOR</td>
        <td class="text-center">UN</td>
        <td class="text-right">50.00</td>
        <td>1.00</td>
        <td class="text-right">50.00</td>
        <td>50.00</td>
        <td>1.00</td>
        <td class="text-right">50.00</td>
        <td>50.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="1.00"></td>
        <td class="text-right">50.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1204</td>
        <td class="text-left  text-success text-bold">ESTRUCTURAS F°G°</td>
        <td></td>
        <td class="text-right"></td>
        <td></td>
        <td class="text-right">100.00</td>
        <td></td>
        <td></td>
        <td class="text-right">100.00</td>
        <td></td>
        <td></td>
        <td class="text-right">150.00</td>
    </tr>
    <tr>
        <td class="text-center">1204000</td>
        <td class="text-left text-padding-l-20">ANTIESCALAMIENTO PARA POSTES Y TORRES</td>
        <td class="text-center">UN</td>
        <td class="text-right">10.00</td>
        <td>2.00</td>
        <td class="text-right">20.00</td>
        <td>10.00</td>
        <td>2.00</td>
        <td class="text-right">20.00</td>
        <td>10.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="3.00"></td>
        <td class="text-right">30.00</td>
    </tr>
    <tr>
        <td class="text-center">1204001</td>
        <td class="text-left text-padding-l-20">BASTIDOR DE A°G° DE 1000MM DE LONGITUD SEGÚN DISEÑO</td>
        <td class="text-center">UN</td>
        <td class="text-right">30.00</td>
        <td>2.00</td>
        <td class="text-right">60.00</td>
        <td>30.00</td>
        <td>2.00</td>
        <td class="text-right">60.00</td>
        <td>40.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="2.00"></td>
        <td class="text-right">80.00</td>
    </tr>
    <tr>
        <td class="text-center">1204002</td>
        <td class="text-left text-padding-l-20">BASTIDOR DE 170MM PREFABRICADO CON PERFILES TIPO1 + RIOSTRA</td>
        <td class="text-center">UN</td>
        <td class="text-right">10.00</td>
        <td>2.00</td>
        <td class="text-right">20.00</td>
        <td>10.00</td>
        <td>2.00</td>
        <td class="text-right">20.00</td>
        <td>20.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="2.00"></td>
        <td class="text-right">40.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1205</td>
        <td class="text-left  text-success text-bold">FERRETERIA</td>
        <td></td>
        <td class="text-right"></td>
        <td></td>
        <td class="text-right">200.00</td>
        <td></td>
        <td></td>
        <td class="text-right">200.00</td>
        <td></td>
        <td></td>
        <td class="text-right">400.00</td>
    </tr>
    <tr>
        <td class="text-center">1205000</td>
        <td class="text-left text-padding-l-20 ">ABRAZADERA CON 4 GANCHOS 120MM DIAM</td>
        <td class="text-center">UN</td>
        <td class="text-right">50.00</td>
        <td>2.00</td>
        <td class="text-right">100.00</td>
        <td>50.00</td>
        <td>2.00</td>
        <td class="text-right">100.00</td>
        <td>100.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="2.00"></td>
        <td class="text-right">200.00</td>
    </tr>
    <tr>
        <td class="text-center">1205001</td>
        <td class="text-left text-padding-l-20">ABRAZADERA CON 4 GANCHOS 150MM DIAM</td>
        <td class="text-center">UN</td>
        <td class="text-right">50.00</td>
        <td>2.00</td>
        <td class="text-right">100.00</td>
        <td>50.00</td>
        <td>2.00</td>
        <td class="text-right">100.00</td>
        <td>100.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="2.00"></td>
        <td class="text-right">200.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1206</td>
        <td class="text-left  text-success text-bold">LUMINARIAS Y LAMPARAS</td>
        <td></td>
        <td class="text-right"></td>
        <td></td>
        <td class="text-right">60.00</td>
        <td></td>
        <td></td>
        <td class="text-right">60.00</td>
        <td></td>
        <td></td>
        <td class="text-right">80.00</td>
    </tr>
    <tr>
        <td class="text-center">1206000</td>
        <td class="text-left text-padding-l-20">KIT FLOURESCENTE 54 W (2FLOURSCENTE + BALASTRO)</td>
        <td class="text-center">UN</td>
        <td class="text-right">30.00</td>
        <td>1.00</td>
        <td class="text-right">30.00</td>
        <td>30.00</td>
        <td>1.00</td>
        <td class="text-right">30.00</td>
        <td>20.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="2.00"></td>
        <td class="text-right">40.00</td>
    </tr>
    <tr>
        <td class="text-center">1206001</td>
        <td class="text-left text-padding-l-20">LAMP'S VAPOR SODIO ALTA PRES. 150W E-27, TUBULAR</td>
        <td class="text-center">UN</td>
        <td class="text-right">15.00</td>
        <td>2.00</td>
        <td class="text-right">30.00</td>
        <td>2.00</td>
        <td>15.00</td>
        <td class="text-right">30.00</td>
        <td>20.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="2.00"></td>
        <td class="text-right">40.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1207</td>
        <td class="text-left  text-success text-bold">TABLEROS</td>
        <td></td>
        <td class="text-right"></td>
        <td></td>
        <td class="text-right">70.00</td>
        <td></td>
        <td></td>
        <td class="text-right">70.00</td>
        <td></td>
        <td></td>
        <td class="text-right">80.00</td>
    </tr>
    <tr>
        <td class="text-center">1207047</td>
        <td class="text-left text-padding-l-20">TABLEROS METALICO PLANCHA LAF 3Ø TIPO TD2 380/220V, 50 KVA</td>
        <td class="text-center">UN</td>
        <td class="text-right">25.00</td>
        <td>2.00</td>
        <td class="text-right">50.00</td>
        <td>25.00</td>
        <td>2.00</td>
        <td class="text-right">50.00</td>
        <td>20.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="2.00"></td>
        <td class="text-right">40.00</td>
    </tr>
    <tr>
        <td class="text-center">1207048</td>
        <td class="text-left text-padding-l-20">TABLEROS METALICO PLANCHA LAF 3Ø TIPO TD2 380/220V, 75 KVA</td>
        <td class="text-center">UN</td>
        <td class="text-right">10.00</td>
        <td>2.00</td>
        <td class="text-right">20.00</td>
        <td>10.00</td>
        <td>2.00</td>
        <td class="text-right">20.00</td>
        <td>20.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="2.00"></td>
        <td class="text-right">40.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1208</td>
        <td class="text-left  text-success text-bold">TRANSFORMADORES DE POTENCIA Y DISTRIBUCION</td>
        <td></td>
        <td class="text-right"></td>
        <td></td>
        <td class="text-right">100.00</td>
        <td></td>
        <td></td>
        <td class="text-right">100.00</td>
        <td></td>
        <td></td>
        <td class="text-right">100.00</td>
    </tr>
    <tr>
        <td class="text-center">1208000</td>
        <td class="text-left text-padding-l-20">TRAFO 3Ø CONVENCIONAL 10 ± 2 X 2.5% /0.23KV,25 KVA</td>
        <td class="text-center">UN</td>
        <td class="text-right">50.00</td>
        <td>1.00</td>
        <td class="text-right">50.00</td>
        <td>50.00</td>
        <td>1.00</td>
        <td class="text-right">50.00</td>
        <td>50.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="1.00"></td>
        <td class="text-right">50.00</td>
    </tr>
    <tr>
        <td class="text-center">1208001</td>
        <td class="text-left text-padding-l-20">TRAFO 3Ø CONVENCIONAL 10 ± 2 X 2.5% /0.23KV,37.5 KVA</td>
        <td class="text-center">UN</td>
        <td class="text-right">50.00</td>
        <td>1.00</td>
        <td class="text-right">50.00</td>
        <td>50.00</td>
        <td>1.00</td>
        <td class="text-right">50.00</td>
        <td>50.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="1.00"></td>
        <td class="text-right">50.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1209</td>
        <td class="text-left  text-success text-bold">CELDAS Y SE MOVILES</td>
        <td class="text-center">UN</td>
        <td class="text-right"></td>
        <td></td>
        <td class="text-right">40.00</td>
        <td></td>
        <td></td>
        <td class="text-right">40.00</td>
        <td></td>
        <td></td>
        <td class="text-right">50.00</td>
    </tr>
    <tr>
        <td class="text-center">1209000</td>
        <td class="text-left text-padding-l-20">CELDAS DE LLEGADA Y ENLACE,TIPO ARMARIO ENCLOSED DE 12KV, 630A, 20KA DE
            DIMENSIONES MAXIMAS(MM)
        </td>
        <td class="text-center">UN</td>
        <td class="text-right">20.00</td>
        <td>1.00</td>
        <td class="text-right">20.00</td>
        <td>20.00</td>
        <td>1.00</td>
        <td class="text-right">20.00</td>
        <td>20.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="1.00"></td>
        <td class="text-right">20.00</td>
    </tr>
    <tr>
        <td class="text-center">1209001</td>
        <td class="text-left text-padding-l-20">CELDAS DE SALIDA TRONCAL PRINCIPAL, TIPO ARMARIO METAL ENCLOSED DE 12KV,
            630A, 20KA DE DIMENSIONES MAXIMAS (MM)
        </td>
        <td class="text-center">UN</td>
        <td class="text-right">20.00</td>
        <td>1.00</td>
        <td class="text-right">20.00</td>
        <td>1.00</td>
        <td>20.00</td>
        <td class="text-right">20.00</td>
        <td>30.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="1.00"></td>
        <td class="text-right">30.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1210</td>
        <td class="text-left  text-success text-bold">EQUIPOS DE TELECOMUNCACIONES Y ACCESORIOS</td>
        <td></td>
        <td class="text-right"></td>
        <td></td>
        <td class="text-right">100.00</td>
        <td></td>
        <td></td>
        <td class="text-right">100.00</td>
        <td></td>
        <td></td>
        <td class="text-right">100.00</td>
    </tr>
    <tr>
        <td class="text-center">121000</td>
        <td class="text-left text-padding-l-20">APARATO TELEFÓNICO IP. TERMINAL, CABLE Y ACCESORIOS</td>
        <td class="text-center">BLS</td>
        <td class="text-right">50.00</td>
        <td>1.00</td>
        <td class="text-right">50.00</td>
        <td>50.00</td>
        <td>1.00</td>
        <td class="text-right">50.00</td>
        <td>50.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="1.00"></td>
        <td class="text-right">50.00</td>
    </tr>
    <tr>
        <td class="text-center">121001</td>
        <td class="text-left text-padding-l-20">CABLE SFTP CATEGORIA 5E</td>
        <td class="text-center">ROLLO</td>
        <td class="text-right">50.00</td>
        <td>1.00</td>
        <td class="text-right">50.00</td>
        <td>50.00</td>
        <td>1.00</td>
        <td class="text-right">50.00</td>
        <td>50.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="1.00"></td>
        <td class="text-right">50.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1211</td>
        <td class="text-left  text-success text-bold">OTROS</td>
        <td></td>
        <td class="text-right"></td>
        <td></td>
        <td class="text-right">80.00</td>
        <td></td>
        <td></td>
        <td class="text-right">80.00</td>
        <td></td>
        <td></td>
        <td class="text-right">100.00</td>
    </tr>
    <tr>
        <td class="text-center">121000</td>
        <td class="text-left text-padding-l-20">BENTONITA (BOLSA DE 30KG)</td>
        <td class="text-center">BLS</td>
        <td class="text-right">20.00</td>
        <td>2.00</td>
        <td class="text-right">40.00</td>
        <td>20.00</td>
        <td>2.00</td>
        <td class="text-right">40.00</td>
        <td>50.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="1.00"></td>
        <td class="text-right">50.00</td>
    </tr>
    <tr>
        <td class="text-center">121001</td>
        <td class="text-left text-padding-l-20">CEMENTO CONDUCTIVO SACO DE 25 KG</td>
        <td class="text-center">BLS</td>
        <td class="text-right">20.00</td>
        <td>2.00</td>
        <td class="text-right">40.00</td>
        <td>20.00</td>
        <td>2.00</td>
        <td class="text-right">40.00</td>
        <td>50.00</td>
        <td><input style="width: 50px" class="text-right" type="text" value="1.00"></td>
        <td class="text-right">50.00</td>
    </tr>
    </tbody>
</table>