<div class="separator"></div>
<table class="table table-condensed table-bordered table-hover">
    <thead>
    <tr class="active">
        <th rowspan="2" class="text-center">CÓDIGO</th>
        <th rowspan="2" class="text-center">ESTRUCTURA</th>
        <th rowspan="2" class="text-center">UND</th>
        <th colspan="3" class="text-center">LB</th>
        <th colspan="3" class="text-center">PV - REPLANTEO</th>
        <th colspan="3" class="text-center">PV1 - META</th>
    </tr>
    <tr class="active">
        <th class="text-center">CANT</th>
        <th class="text-center">PU</th>
        <th class="text-center">TOTAL</th>
        <th class="text-center">CANT</th>
        <th class="text-center">PU</th>
        <th class="text-center">TOTAL</th>
        <th class="text-center">CANT</th>
        <th class="text-center">PU</th>
        <th class="text-center">TOTAL</th>
    </tr>
    </thead>
    <tbody id="p_exp_table_consolidated"></tbody>
</table>