<table class="table table-condensed table-bordered table-hover">
    <thead>
    <tr class="active">
        <th rowspan="2" class="text-center" width="100px">CODIGO</th>
        <th rowspan="2" class="text-center">ESTRUCTURA</th>
        <th rowspan="2" class="text-center" width="70px">UND</th>
        <th colspan="3" class="text-center">PV1 - META</th>
    </tr>
    <tr class="active">
        <th class="text-center" width="80px">CANT</th>
        <th class="text-center" width="80px">PU</th>
        <th class="text-center" width="80px">TOTAL</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th class="text-center">1</th>
        <th class="text-left">TOTAL TRANSPORTE</th>
        <th class="text-center"></th>
        <th></th>
        <th></th>
        <th class="text-right">500.00</th>
    </tr>
    <tr>
        <th class="text-center">13</th>
        <th class="text-left">TRANS DE MATERIALES</th>
        <td class="text-center"></td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right">500.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1301</td>
        <td class="text-left text-success text-bold">SEMI TRAILER</td>
        <td class="text-center">VJE</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="200.00"></td>
        <td class="text-right">200.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1302</td>
        <td class="text-left text-success text-bold">CAMION DOBLE</td>
        <td class="text-center">VJE</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="100.00"></td>
        <td class="text-right">100.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1303</td>
        <td class="text-left text-success text-bold">CAMION SIMPLE</td>
        <td class="text-center">VJE</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="100.00"></td>
        <td class="text-right">100.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1313</td>
        <td class="text-left text-success text-bold">OTROS</td>
        <td class="text-center">VJE</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="100.00"></td>
        <td class="text-right">100.00</td>
    </tr>
    </tbody>
</table>