<table class="table table-condensed table-bordered table-hover">
    <thead>
    <tr class="active">
        <th rowspan="2" class="text-center">CODIGO</th>
        <th rowspan="2" class="text-center">ESTRUCTURA</th>
        <th rowspan="2" class="text-center">UND</th>
        <th colspan="3" class="text-center">PV1 - META</th>
    </tr>
    <tr class="active">
        <th class="text-center" width="80px">CANT</th>
        <th class="text-center" width="80px">PU</th>
        <th class="text-center" width="80px">TOTAL</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th class="text-center">1</th>
        <th class="text-left">TOTAL GASTOS GENERALES</th>
        <th class="text-center"></th>
        <th></th>
        <th></th>
        <th class="text-right">134,000.00</th>
    </tr>
    <tr>
        <th class="text-center">10</th>
        <th class="text-left">GG INDIRECTO</th>
        <th class="text-center"></th>
        <th></th>
        <th></th>
        <th class="text-right">99,000.00</th>
    </tr>
    <tr>
        <th class="text-center text-success text-bold">1000</th>
        <td class="text-left text-success text-bold">SUELDOS, ALIMENTACIÓN, PASAJES , VIATICOS Y ALOJAMIENTO</td>
        <th class="text-center"></th>
        <th></th>
        <th></th>
        <th class="text-right">84,000.00</th>
    </tr>
    <tr>
        <td class="text-center">1000000</td>
        <td class="text-left text-padding-l-20">GERENTE GENERAL</td>
        <td class="text-center">MES</td>
        <td><input style="width: 75px" class="text-right" type="text" value="6.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="7,000.00"></td>
        <td class="text-right">42,000.00</td>
    </tr>
    <tr>
        <td class="text-center">1000001</td>
        <td class="text-left text-padding-l-20">GERENTE COMERCIAL</td>
        <td class="text-center">MES</td>
        <td><input style="width: 75px" class="text-right" type="text" value="10.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="9,000.00"></td>
        <td class="text-right">90,000.00</td>
    </tr>
    <tr>
        <td class="text-center">1000002</td>
        <td class="text-left text-padding-l-20">GERENTE DE OBRAS</td>
        <td class="text-center">MES</td>
        <td><input style="width: 75px" class="text-right" type="text" value="20.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="2,000.00"></td>
        <td class="text-right">40,000.00</td>
    </tr>
    <tr>
        <td class="text-center">1000003</td>
        <td class="text-left text-padding-l-20">GERENTE DE PROGRAMAS</td>
        <td class="text-center">MES</td>
        <td><input style="width: 75px" class="text-right" type="text" value="10.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="400.00"></td>
        <td class="text-right">4,000.00</td>
    </tr>
    <tr>
        <td class="text-center">1000004</td>
        <td class="text-left text-padding-l-20">GERENTE DE PROYECTO</td>
        <td class="text-center">MES</td>
        <td><input style="width: 75px" class="text-right" type="text" value="6.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="7,000.00"></td>
        <td class="text-right">42,000.00</td>
    </tr>
    <tr>
        <th class="text-center">11</th>
        <th class="text-left">GG DIRECTO</th>
        <td class="text-center"></td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right"></td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1100</td>
        <td class="text-left text-success text-bold">SUELDOS, PASAJES , VIATICOS</td>
        <td class="text-center"></td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right">40,000.00</td>
    </tr>
    <tr>
        <td class="text-center">110000</td>
        <td class="text-left text-padding-l-20">JEFE DE GRUPO</td>
        <td class="text-center">MES</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="30,000.00"></td>
        <td class="text-right">30,000.00</td>
    </tr>
    <tr>
        <td class="text-center">110001</td>
        <td class="text-left text-padding-l-20">TÉCNICO DE CONTROL</td>
        <td class="text-center">MES</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="5,000.00"></td>
        <td class="text-right">5,000.00</td>
    </tr>
    <tr>
        <td class="text-center">110002</td>
        <td class="text-left text-padding-l-20">MAESTRO DE OBRAS</td>
        <td class="text-center">MES</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="2,000.00"></td>
        <td class="text-right">2,000.00</td>
    </tr>
    <tr>
        <td class="text-center">110003</td>
        <td class="text-left text-padding-l-20">VIATICOS (PASAJES, ALIMENTACIÓN Y HOSPEDAJE)</td>
        <td class="text-center"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="3,000.00"></td>
        <td class="text-right">3,000.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1101</td>
        <td class="text-left text-success text-bold">ALQUILERES Y SERVICIOS</td>
        <td class="text-center"></td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right">30,000.00</td>
    </tr>
    <tr>
        <td class="text-center">1101000</td>
        <td class="text-left text-padding-l-20">CASA DOMICILIIO PEON - OFICIAL</td>
        <td class="text-center">MES</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="10,000.00"></td>
        <td class="text-right">10,000.00</td>
    </tr>
    <tr>
        <td class="text-center">1101001</td>
        <td class="text-left text-padding-l-20">CASA DOMICILIIO OPERARIO - TECNICO</td>
        <td class="text-center">MES</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="10,000.00"></td>
        <td class="text-right">10,000.00</td>
    </tr>
    <tr>
        <td class="text-center">1101002</td>
        <td class="text-left text-padding-l-20">CASA DOMICILIIO CAPATAZ</td>
        <td class="text-center">MES</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="10,000.00"></td>
        <td class="text-right">10,000.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1102</td>
        <td class="text-left text-success text-bold">VEHICULOS PARA PERSONAL OPERATIVO</td>
        <td class="text-center">MES</td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right">5,000.00</td>
    </tr>
    <tr>
        <td class="text-center">1102000</td>
        <td class="text-left text-padding-l-20">CAMION TIPO FOTON - MOVILIZACIÓN HERRAMIENTAS (INCLUYE CHOFER)</td>
        <td class="text-center">MES</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="2,500.00"></td>
        <td class="text-right">2,500.00</td>
    </tr>
    <tr>
        <td class="text-center">1102001</td>
        <td class="text-left text-padding-l-20">CAMION BUS, MINIVAN -  MOVILIZACIÓN  OPERATIVO (INCLUYE CHOFER)</td>
        <td class="text-center">MES</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="2,500.00"></td>
        <td class="text-right">2,500.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1103</td>
        <td class="text-left text-success text-bold">CAPACITACIONES Y EXAMENES MEDICOS</td>
        <td class="text-center"></td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right">500.00</td>
    </tr>
    <tr>
        <td class="text-center">1103000</td>
        <td class="text-left text-padding-l-20">EVALUACIÓN MÉDICA  PRE OCUPACIONAL (EMPO)</td>
        <td class="text-center">UN</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="250.00"></td>
        <td class="text-right">250.00</td>
    </tr>
    <tr>
        <td class="text-center">1103001</td>
        <td class="text-left text-padding-l-20">CAPACITACIÓN DE PERSONAL - PRIMEROS AUXILIOS</td>
        <td class="text-center">UN</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="250.00"></td>
        <td class="text-right">250.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1104</td>
        <td class="text-left text-success text-bold">COSTOS POR SEGUROS (PERSONAL OPERATIVO)</td>
        <td class="text-center"></td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right">400.00</td>
    </tr>
    <tr>
        <td class="text-center">1104000</td>
        <td class="text-left text-padding-l-20">ACCIDENTES PERSONALES</td>
        <td class="text-center">MES</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="200.00"></td>
        <td class="text-right">200.00</td>
    </tr>
    <tr>
        <td class="text-center">1104001</td>
        <td class="text-left text-padding-l-20">SCTR SALUD</td>
        <td class="text-center">MES</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="200.00"></td>
        <td class="text-right">200.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1105</td>
        <td class="text-left text-success text-bold">ELEMENTOS DE PROTECCIÓN PERSONAL</td>
        <td class="text-center"></td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right">200.00</td>
    </tr>
    <tr>
        <td class="text-center">1105000</td>
        <td class="text-left text-padding-l-20"> BARBIQUEJO</td>
        <td class="text-center">UN</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="100.00"></td>
        <td class="text-right">100.00</td>
    </tr>
    <tr>
        <td class="text-center">1105001</td>
        <td class="text-left text-padding-l-20"> CASCOS DE SEGURIDAD</td>
        <td class="text-center">UN</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="100.00"></td>
        <td class="text-right">100.00</td>
    </tr>
    <tr>
        <td class="text-center text-success text-bold">1106</td>
        <td class="text-left text-success text-bold">SISTEMA DE ARRESTO DE CAIDA</td>
        <td class="text-center"></td>
        <td class="text-right"></td>
        <td class="text-right"></td>
        <td class="text-right">100.00</td>
    </tr>
    <tr>
        <td class="text-center">1106000</td>
        <td class="text-left text-padding-l-20">ARNÉS</td>
        <td class="text-center">UN</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="60.00"></td>
        <td class="text-right">60.00</td>
    </tr>
    <tr>
        <td class="text-center">1106000</td>
        <td class="text-left text-padding-l-20">LÍNEA DE SIMPLE CON AMORTIGUADOR</td>
        <td class="text-center">UN</td>
        <td><input style="width: 75px" class="text-right" type="text" value="1.00"></td>
        <td><input style="width: 75px" class="text-right" type="text" value="40.00"></td>
        <td class="text-right">40.00</td>
    </tr>
    </tbody>
</table>