<div class="show_not_front">
    <div class="separator show_edit_meta show_not_approval"></div>
    <button class="btn btn-sm btn-success show_edit_meta show_not_approval" ng-click="addGGT(2)">
        <span class="fa fa-plus"></span>
        Agregar
    </button>
</div>
<div class="separator"></div>
<table class="table table-condensed table-bordered table-hover" id="table_exp_transport">
    <thead>
    <tr class="active">
        <th rowspan="2" colspan="2" class="text-center" width="120px">CÓDIGO</th>
        <th rowspan="2" class="text-center">ESTRUCTURA</th>
        <th rowspan="2" class="text-center" width="70px">UND</th>
        <th colspan="3" class="text-center">PV1 - META</th>
    </tr>
    <tr class="active">
        <th class="text-center" width="80px">CANT</th>
        <th class="text-center" width="80px">PU</th>
        <th class="text-center" width="80px">TOTAL</th>
    </tr>
    </thead>
</table>