<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th colspan="6" rowspan="2"><h4>MATERIALES</h4></th>
        <th></th>
        <th colspan="9"><h4>FRENTES</h4></th>
    </tr>
    <tr>
        <th>SubC</th>
        <th width="15%" colspan="2">ELECTRONORTE S.A.</th>
        <th width="15%" colspan="2">TECSUR S.A.</th>
        <th width="15%" colspan="2">T&L INGENIEROS ASOCIADOS SAC</th>
        <th width="15%" colspan="2">EECOL ELECTRIC PERU S.A.C.</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td width="10px"></td>
        <th width="150px">Descripción</th>
        <th width="10px">Und</th>
        <th width="15px">Precio</th>
        <th width="10px">Cant.</th>
        <th width="15px">TOTAL</th>
        <th width="10px"></th>
        <th>Cantidad</th>
        <th>Total</th>
        <th>Cantidad</th>
        <th>Total</th>
        <th>Cantidad</th>
        <th>Total</th>
        <th>Cantidad</th>
        <th>Total</th>
        <th width="15px">TOTAL</th>
    </tr>
    <tr>
        <td class="text-center">09342</td>
        <td>POSTES</td>
        <td class="text-center">UN</td>
        <td class="text-right">20.00</td>
        <td class="text-right">5</td>
        <th class="text-right">100.00</th>
        <td></td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="2"></td>
        <td class="text-right">40.00</td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="1"></td>
        <td class="text-right">20.00</td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="1"></td>
        <td class="text-right">20.00</td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="1"></td>
        <td class="text-right">20.00</td>
        <th class="text-right">100.00</th>
    </tr>
    <tr>
        <td class="text-center">00290</td>
        <td>ESTRUCTURA DE FG</td>
        <td class="text-center">HH</td>
        <td class="text-right">100.00</td>
        <td class="text-right">16</td>
        <th class="text-right">1,600.00</th>
        <td></td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="4"></td>
        <td class="text-right">400.00</td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="4"></td>
        <td class="text-right">400.00</td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="4"></td>
        <td class="text-right">400.00</td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="4"></td>
        <td class="text-right">400.00</td>
        <th class="text-right">1,600.00</th>
    </tr>
    <tr>
        <td class="text-center">00291</td>
        <td>CRUCETAS</td>
        <td class="text-center">M3</td>
        <td class="text-right">8.00</td>
        <td class="text-right">3</td>
        <th class="text-right">24.00</th>
        <td></td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="1"></td>
        <td class="text-right">8.00</td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="1"></td>
        <td class="text-right">8.00</td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="1"></td>
        <td class="text-right">16.00</td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="0"></td>
        <td class="text-right">0.00</td>
        <th class="text-right">24.00</th>
    </tr>
    <tr>
        <th colspan="6"><h4>ACTIVIDADES</h4></th>
        <th colspan="8"></th>
    </tr>
    <tr>
        <td colspan="2"><b>1702019 - EXCAVACION DE HOYOS</b></td>
        <td class="text-center">UND</td>
        <td class="text-right">284.00</td>
        <td class="text-right">15</td>
        <th class="text-right">4,260.00</th>
        <td class="text-center">
            <label class="checkbox-inline i-checks">
                <input type="checkbox" checked>
            </label>
        </td>
        <td class="text-center"></td>
        <td class="text-right"></td>
        <td class="text-center"></td>
        <td class="text-right"></td>
        <td class="text-center"></td>
        <td class="text-right"></td>
        <td class="text-center"></td>
        <td class="text-right"></td>
        <th class="text-right">4,260.00</th>
    </tr>
    <tr>
        <td class="text-center">09342</td>
        <td>CEMENTO</td>
        <td class="text-center">BLS</td>
        <td class="text-right">20.00</td>
        <td class="text-right">5</td>
        <td class="text-right">100.00</td>
        <td colspan="8" rowspan="3"></td>
    </tr>
    <tr>
        <td class="text-center">00290</td>
        <td>PEON</td>
        <td class="text-center">HH</td>
        <td class="text-right">100.00</td>
        <td class="text-right">16</td>
        <td class="text-right">160.00</td>
    </tr>
    <tr>
        <td class="text-center">00291</td>
        <td>AGREGADO</td>
        <td class="text-center">M3</td>
        <td class="text-right">8.00</td>
        <td class="text-right">3</td>
        <td class="text-right">24.00</td>
    </tr>
    <tr>
        <td colspan="2"><b>1702001 - INSTALACIÓN DE POSTES</b></td>
        <td class="text-center">UND</td>
        <td class="text-right">284.00</td>
        <td class="text-right">15</td>
        <th class="text-right">4,260.00</th>
        <td class="text-center">
            <label class="checkbox-inline i-checks">
                <input type="checkbox">
            </label>
        </td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="5"></td>
        <td class="text-right">1,420.00</td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="5"></td>
        <td class="text-right">1,420.00</td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="3"></td>
        <td class="text-right">852.00</td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="2"></td>
        <td class="text-right">568.00</td>
        <th class="text-right">4,260.00</th>
    </tr>
    <tr>
        <td class="text-center">09342</td>
        <td>CEMENTO</td>
        <td class="text-center">BLS</td>
        <td class="text-right">20.00</td>
        <td class="text-right">5</td>
        <td class="text-right">100.00</td>
        <td colspan="8" rowspan="3"></td>
    </tr>
    <tr>
        <td class="text-center">00290</td>
        <td>PEON</td>
        <td class="text-center">HH</td>
        <td class="text-right">100.00</td>
        <td class="text-right">16</td>
        <td class="text-right">160.00</td>
    </tr>
    <tr>
        <td class="text-center">00291</td>
        <td>AGREGADO</td>
        <td class="text-center">M3</td>
        <td class="text-right">8.00</td>
        <td class="text-right">3</td>
        <td class="text-right">24.00</td>
    </tr>
    <tr>
        <td colspan="2"><b>1702019 - EXCAVACION DE TERRENO NORMAL</b></td>
        <td class="text-center">M3</td>
        <td class="text-right">284.00</td>
        <td class="text-right">15</td>
        <th class="text-right">4,260.00</th>
        <td class="text-center">
            <label class="checkbox-inline i-checks">
                <input type="checkbox" checked>
            </label>
        </td>
        <td class="text-center"></td>
        <td class="text-right"></td>
        <td class="text-center"></td>
        <td class="text-right"></td>
        <td class="text-center"></td>
        <td class="text-right"></td>
        <td class="text-center"></td>
        <td class="text-right"></td>
        <th class="text-right">4,260.00</th>
    </tr>
    <tr>
        <td class="text-center">09342</td>
        <td>CEMENTO</td>
        <td class="text-center">BLS</td>
        <td class="text-right">20.00</td>
        <td class="text-right">5</td>
        <td class="text-right">100.00</td>
        <td colspan="8" rowspan="3"></td>
    </tr>
    <tr>
        <td class="text-center">00290</td>
        <td>PEON</td>
        <td class="text-center">HH</td>
        <td class="text-right">100.00</td>
        <td class="text-right">16</td>
        <td class="text-right">160.00</td>
    </tr>
    <tr>
        <td class="text-center">00291</td>
        <td>AGREGADO</td>
        <td class="text-center">M3</td>
        <td class="text-right">8.00</td>
        <td class="text-right">3</td>
        <td class="text-right">24.00</td>
    </tr>
    <tr>
        <td colspan="2"><b>1702004 - INSTALACIÓN DE RETENIDA INCLINADA</b></td>
        <td class="text-center">UND</td>
        <td class="text-right">284.00</td>
        <td class="text-right">15</td>
        <th class="text-right">4,260.00</th>
        <td class="text-center">
            <label class="checkbox-inline i-checks">
                <input type="checkbox">
            </label>
        </td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="2"></td>
        <td class="text-right">568.00</td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="4"></td>
        <td class="text-right">1,136.00</td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="5"></td>
        <td class="text-right">1,420.00</td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="4"></td>
        <td class="text-right">1,136.00</td>
        <th class="text-right">4,260.00</th>
    </tr>
    <tr>
        <td class="text-center">09342</td>
        <td>CEMENTO</td>
        <td class="text-center">BLS</td>
        <td class="text-right">20.00</td>
        <td class="text-right">5</td>
        <td class="text-right">100.00</td>
        <td colspan="8" rowspan="3"></td>
    </tr>
    <tr>
        <td class="text-center">00290</td>
        <td>PEON</td>
        <td class="text-center">HH</td>
        <td class="text-right">100.00</td>
        <td class="text-right">16</td>
        <td class="text-right">160.00</td>
    </tr>
    <tr>
        <td class="text-center">00291</td>
        <td>AGREGADO</td>
        <td class="text-center">M3</td>
        <td class="text-right">8.00</td>
        <td class="text-right">3</td>
        <td class="text-right">24.00</td>
    </tr>
    <tr>
        <th colspan="6"><h4>SUBCONTRATO</h4></th>
        <th colspan="8"></th>
    </tr>
    <tr>
        <td colspan="2"><b>1702019 - INSTALACIÓN DE POSTES</b></td>
        <td class="text-center">
            <select>
                <option value="">KG</option>
                <option value="">LB</option>
                <option value="">TN</option>
                <option value="" selected>UND</option>
                <option value="">LT</option>
                <option value="">M</option>
                <option value="">M3</option>
            </select>
        </td>
        <td class="text-right">284.00</td>
        <td class="text-right">30</td>
        <th class="text-right">8,520.00</th>
        <td class="text-center"></td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="12"></td>
        <td class="text-right">3,408.00</td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="7"></td>
        <td class="text-right">1,988.00</td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="6"></td>
        <td class="text-right">1,704.00</td>
        <td class="text-center"><input type="text" class="text-right" style="width: 50px" value="5"></td>
        <td class="text-right">1,420.00</td>
        <th class="text-right">8,520.00</th>
    </tr>
    </tbody>
</table>