<div class="list-group" id="p_inc_list_activity">
    <span class="show_list1 show_list_mat">
        <a data-target="#" class="list-group-item active">
            <span class="badge">
                <i class="fa fa-edit"></i>
            </span>
            POSTES Y ESTRUCTURAS
        </a>
    </span>
    <span class="show_list2 show_list_mat">
        <a data-target="#" class="list-group-item active">
            <span class="badge">
                <i class="fa fa-edit"></i>
            </span>
            FERRETERIA
        </a>
    </span>
    <span class="show_list3 show_list_mat">
        <a data-target="#" class="list-group-item active">
            <span class="badge">
                <i class="fa fa-edit"></i>
            </span>
            EXCAVACION DE HOYOS
        </a>
        <a data-target="#" class="list-group-item">
            <span class="badge">
                <i class="fa fa-edit"></i>
            </span>
            INSTALACION DE POSTES
        </a>
    </span>
    <span class="show_list4 show_list_mat">
        <a data-target="#" class="list-group-item active">
            <span class="badge">
                <i class="fa fa-edit"></i>
            </span>
            EXCAVACION DE TERRENO NORMAL
        </a>
        <a data-target="#" class="list-group-item">
            <span class="badge">
                <i class="fa fa-edit"></i>
            </span>
            INSTALACION DE RETENIDA INCLINADA
        </a>
    </span>
</div>