<div class="table-responsive">
    <table class="table table-bordered table-hover margin-none">
        <thead>
        <tr>
            <th colspan="3">ESTRUCTURA</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td width="10px">
                <button class="btn btn-xs btn-default">
                    <span class="fa fa-minus"></span>
                </button>
            </td>
            <td colspan="2">1.1. SUMINISTRO Y MATERIALES</td>
        </tr>
        <tr>
            <td></td>
            <td width="10px">
                <label class="checkbox-inline i-checks">
                    <input type="checkbox" class="mat_" id="mat_1" data-code="1">
                </label>
            </td>
            <td>1.1.1. POSTES Y ESTRUCTURAS</td>
        </tr>
        <tr>
            <td></td>
            <td width="10px">
                <label class="checkbox-inline i-checks">
                    <input type="checkbox" class="mat_" id="mat_2" data-code="2">
                </label>
            </td>
            <td>1.1.2. FERRETERIA</td>
        </tr>
        <tr>
            <td width="10px">
                <button class="btn btn-xs btn-default">
                    <span class="fa fa-minus"></span>
                </button>
            </td>
            <td colspan="2">1.2. MONTAJE ELECTROMECANICO</td>
        </tr>
        <tr>
            <td></td>
            <td width="10px">
                <label class="checkbox-inline i-checks">
                    <input type="checkbox" checked class="mat_" id="mat_3" data-code="3">
                </label>
            </td>
            <td>1.2.1. INSTALACION DE POSTES DE CONCRETO</td>
        </tr>
        <tr>
            <td></td>
            <td width="10px">
                <label class="checkbox-inline i-checks">
                    <input type="checkbox" class="mat_" id="mat_4" data-code="4">
                </label>
            </td>
            <td>1.2.2. INSTALACION DE RETENIDAS</td>
        </tr>
        </tbody>
    </table>
</div>