<div class="separator show_not_approval"></div>
<button class="btn btn-sm btn-success show_not_approval" type="button" ng-click="addSubProjects()">
    <span class="fa fa-plus"></span>
    Agregar SubProyectos
</button>
<div class="separator"></div>
<div class="table-responsive">
    <table class="table table-bordered table-hover margin-none">
        <thead>
        <tr>
            <th>LISTA DE SUBPROYECTOS</th>
            <th width="10px"></th>
            <th width="10px" class="show_not_approval"></th>
        </tr>
        </thead>
        <tbody id="t_body_list_sub_projects"></tbody>
    </table>
</div>