<div class="table-responsive hide info_front_1">
    <div id='front_fixed'>
        <table class="table table-bordered table-hovered table-striped">
            <thead>
            <tr>
                <th class="text-center" rowspan="2">Item</th>
                <th class="text-center" rowspan="2">Código</th>
                <th class="text-center" rowspan="2" height="73px">Descripcion</th>
                <th class="text-center" rowspan="2">UND</th>
                <th class="text-center" colspan="3">PV1 (Meta)</th>
            </tr>
            <tr>
                <th class="text-center">CANT</th>
                <th class="text-center">PU</th>
                <th class="text-center">TOTAL</th>
            </tr>
            </thead>
            <tbody id="p_front_list_materials"></tbody>
            <tfoot>
            <tr>
                <th colspan="6" class="text-right">Total Material</th>
                <th class="text-right" id="p_front_total_materials"></th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div id="front_movable">
        <table class="table table-bordered table-hovered table-striped">
            <thead>
            <tr>
                <th class="text-center" id="p_fro_col_mat">FRENTES</th>
            </tr>
            <tr id="p_fro_col_pro"></tr>
            <tr id="p_fro_col_ct"></tr>
            </thead>
            <tbody id="p_fro_col_det"></tbody>
            <tfoot id="p_fro_col_f"></tfoot>
        </table>
    </div>
</div>
<div class="table-responsive hide info_front_2">
    <div id='front_fixed_act'>
        <table class="table table-bordered table-hovered table-striped">
            <thead>
            <tr>
                <th colspan="4" height="54px">PV1 (Meta)</th>
            </tr>
            <tr>
                <th rowspan="2">UND</th>
                <th rowspan="2">CANT</th>
                <th rowspan="2">PU</th>
                <th rowspan="2">TOTAL</th>
            </tr>
            </thead>
            <tbody>
            <tr style="height: 25px" id="p_fro_totals_activity">
                <td class="text-center" id="p_fro_u_me_activity"></td>
                <td class="text-right" id="p_fro_q_me_activity"></td>
                <td class="text-right" id="p_fro_p_me_activity"></td>
                <td class="text-right text-bold" id="p_fro_t_me_activity"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id='front_movable_act'>
        <table class="table table-bordered table-hovered table-striped">
            <thead>
            <tr>
                <th class="text-center" id="p_fro_col_act">FRENTES</th>
            </tr>
            <tr id="p_fro_tr_act"></tr>
            <tr id="p_fro_tr_ct"></tr>
            </thead>
            <tbody id="p_fro_act_body"></tbody>
        </table>
    </div>
</div>