<div class="table-responsive">
    <table class="table table-bordered table-hovered table-striped show_2_">
        <thead>
        <tr>
            <th class="text-center" rowspan="2">Item</th>
            <th class="text-center" rowspan="2">Código</th>
            <th class="text-center" rowspan="2">Descripcion</th>
            <th class="text-center" rowspan="2">Und</th>
            <th class="text-center" colspan="3">LB (Linea Base)</th>
            <th class="text-center show_pv1" colspan="3">PV (Replanteo)</th>
            <th class="text-center show_pv1" colspan="3">PV1 (Meta)</th>
        </tr>
        <tr>
            <th class="text-center" width="80px">Precio</th>
            <th class="text-center" width="80px">Cantidad</th>
            <th class="text-center">Total</th>
            <th class="text-center show_pv1" width="80px">Precio</th>
            <th class="text-center show_pv1" width="80px">Cantidad</th>
            <th class="text-center show_pv1">Total</th>
            <th class="text-center show_pv1" width="80px">Precio</th>
            <th class="text-center show_pv1" width="80px">Cantidad</th>
            <th class="text-center show_pv1">Total</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1.1.1.1</td>
            <td>09342</td>
            <td>POSTES</td>
            <td>UN</td>
            <td class="text-right">2.00</td>
            <td class="text-right">30.00</td>
            <td class="text-right">60.00</td>
            <td class="text-right">20.00</td>
            <td class="text-right">5.00</td>
            <td class="text-right show_pv1">100.00</td>
            <td><input type="text" value="18.00" class="text-right form-control input-sm"></td>
            <td class="text-right show_pv1">5.00</td>
            <td class="text-right show_pv1">90.00</td>
        </tr>
        <tr>
            <td>1.1.1.2</td>
            <td>00290</td>
            <td>ESTRUCTURA DE FG</td>
            <td>UN</td>
            <td class="text-right">4.00</td>
            <td class="text-right">16.00</td>
            <td class="text-right">64.00</td>
            <td class="text-right show_pv1">10.00</td>
            <td class="text-right show_pv1">16.00</td>
            <td class="text-right show_pv1">160.00</td>
            <td><input type="text" value="9.00" class="text-right form-control input-sm"></td>
            <td class="text-right show_pv1">16.00</td>
            <td class="text-right show_pv1">144.00</td>
        </tr>
        <tr>
            <td>1.1.1.3</td>
            <td>00291</td>
            <td>CRUCETAS</td>
            <td>UN</td>
            <td class="text-right">6.00</td>
            <td class="text-right">5.00</td>
            <td class="text-right">30.00</td>
            <td class="text-right show_pv1">8.00</td>
            <td class="text-right show_pv1">3.00</td>
            <td class="text-right show_pv1">24.00</td>
            <td><input type="text" value="8.00" class="text-right form-control input-sm"></td>
            <td class="text-right show_pv1">3.00</td>
            <td class="text-right show_pv1">24.00</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="6" class="text-right">
                <span class="show_2_">Total Material</span>
                <span class="show_1_">Total Actividad</span>
            </th>
            <td class="text-right">154.00</td>
            <th colspan="2" class="text-right show_pv1">
                <span class="show_2_">Total Material</span>
                <span class="show_1_">Total Actividad</span>
            </th>
            <td class="text-right show_pv1">284.00</td>
            <th colspan="2" class="text-right show_pv1">
                <span class="show_2_">Total Material</span>
                <span class="show_1_">Total Actividad</span>
            </th>
            <td class="text-right show_pv1">258.00</td>
        </tr>
        </tfoot>
    </table>
    <table class="table table-bordered table-hovered table-striped show_1_">
        <thead>
        <tr>
            <th colspan="3"></th>
            <th>SUBTOTALES</th>
        </tr>
        <tr>
            <th>REND.</th>
            <th>HH.</th>
            <th>HM.</th>
            <th>MO.</th>
            <th>MAT.</th>
            <th>EQ.</th>
            <th>SC.</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-right">6</td>
            <td class="text-right">28.00</td>
            <td class="text-right">13.33</td>
            <td class="text-right">421.83</td>
            <td class="text-right">602.01</td>
            <td class="text-right">389.97</td>
            <td class="text-right">250.00</td>
        </tr>
        </tbody>
    </table>
    <!--<table class="table table-bordered table-hovered table-striped show_1_">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th class="text-center" rowspan="2">Item</th>-->
            <!--<th class="text-center" rowspan="2">Código</th>-->
            <!--<th class="text-center" rowspan="2">Descripcion</th>-->
            <!--<th class="text-center" rowspan="2">Und</th>-->
            <!--<th class="text-center" colspan="3">LB (Linea Base)</th>-->
            <!--<th class="text-center show_pv1" colspan="3">PV (Replanteo)</th>-->
            <!--<th class="text-center show_pv1" colspan="3">PV1 (Meta)</th>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<th class="text-center">Precio</th>-->
            <!--<th class="text-center">Cantidad</th>-->
            <!--<th class="text-center">Total</th>-->
            <!--<th class="text-center show_pv1">Precio</th>-->
            <!--<th class="text-center show_pv1">Cantidad</th>-->
            <!--<th class="text-center show_pv1">Total</th>-->
            <!--<th class="text-center show_pv1">Precio</th>-->
            <!--<th class="text-center show_pv1">Cantidad</th>-->
            <!--<th class="text-center show_pv1">Total</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr>-->
            <!--<td>1.2.1.1.1</td>-->
            <!--<td>09342</td>-->
            <!--<td>CEMENTO</td>-->
            <!--<td>BLS</td>-->
            <!--<td class="text-right">22.50</td>-->
            <!--<td class="text-right">2</td>-->
            <!--<td class="text-right">45.00</td>-->
            <!--<td class="text-right show_pv1">20.00</td>-->
            <!--<td class="text-right show_pv1">5</td>-->
            <!--<td class="text-right show_pv1">100.00</td>-->
            <!--<td class="text-right show_pv1">18.00</td>-->
            <!--<td class="text-right show_pv1">5</td>-->
            <!--<td class="text-right show_pv1">90.00</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>1.2.1.1.2</td>-->
            <!--<td>00290</td>-->
            <!--<td>PEON</td>-->
            <!--<td>H-H</td>-->
            <!--<td class="text-right">13.50</td>-->
            <!--<td class="text-right">8</td>-->
            <!--<td class="text-right">108.00</td>-->
            <!--<td class="text-right show_pv1">10.00</td>-->
            <!--<td class="text-right show_pv1">16</td>-->
            <!--<td class="text-right show_pv1">160.00</td>-->
            <!--<td class="text-right show_pv1">9.00</td>-->
            <!--<td class="text-right show_pv1">16</td>-->
            <!--<td class="text-right show_pv1">144.00</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>1.2.1.1.3</td>-->
            <!--<td>00291</td>-->
            <!--<td>AGREGADO</td>-->
            <!--<td>M3</td>-->
            <!--<td class="text-right">10.00</td>-->
            <!--<td class="text-right">3</td>-->
            <!--<td class="text-right">30.00</td>-->
            <!--<td class="text-right show_pv1">8.00</td>-->
            <!--<td class="text-right show_pv1">3</td>-->
            <!--<td class="text-right show_pv1">24.00</td>-->
            <!--<td class="text-right show_pv1">8.00</td>-->
            <!--<td class="text-right show_pv1">3</td>-->
            <!--<td class="text-right show_pv1">24.00</td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--<tfoot>-->
        <!--<tr>-->
            <!--<th colspan="6" class="text-right">-->
                <!--<span class="show_2_">Total Material</span>-->
                <!--<span class="show_1_">Total Actividad</span>-->
            <!--</th>-->
            <!--<td class="text-right">183.00</td>-->
            <!--<th colspan="2" class="text-right show_pv1">-->
                <!--<span class="show_2_">Total Material</span>-->
                <!--<span class="show_1_">Total Actividad</span>-->
            <!--</th>-->
            <!--<td class="text-right show_pv1">284.00</td>-->
            <!--<th colspan="2" class="text-right show_pv1">-->
                <!--<span class="show_2_">Total Material</span>-->
                <!--<span class="show_1_">Total Actividad</span>-->
            <!--</th>-->
            <!--<td class="text-right show_pv1">258.00</td>-->
        <!--</tr>-->
        <!--</tfoot>-->
    <!--</table>-->
</div>