<div class="panel panel-danger-admin">
    <div class="panel-heading">
        Resetear Contraseña
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
               <div class="form-group">
                    <label class="col-sm-2 control-label">Ingresar Contraseña</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control input-sm" id="contrasenia" >
                    </div>
                    <div class="col-sm-2">
                        <div class="btn-group">
                            <button type="button" id="btn_ResetearCont"
                                class="btn btn-danger-admin btn-sm">Resetear 
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 