<!-- Modal -->
<div class="modal" id="modalQ" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="title-quo"></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Descripción</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control input-sm" id="q_description">
                        </div>
                    </div>
                </div>
                <div class="separator"></div>
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a data-target="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Requerimientos</a>
                        </li>
                        <li role="presentation">
                            <a data-target="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Consolidados</a>
                        </li>
                        <li role="presentation">
                            <a data-target="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Cotizaciones</a>
                        </li>
                        <li role="presentation">
                            <a data-target="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Auditoría</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab1">
                            <div class="separator"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button class="btn btn-success btn-sm" type="button" ng-click="openRequirements()">
                                        <span class="fa fa-plus-circle"></span>
                                        Agregar Requerimiento
                                    </button>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="table-responsive hide" id="q_show_req">
                                <table class="table table-bordered table-stripped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Requerimiento</th>
                                        <th>Emisión</th>
                                        <th style="width: 40%">Proyecto</th>
                                        <th>Solicitado por</th>
                                        <th style="width:50px"></th>
                                    </tr>
                                    </thead>
                                    <tbody id="q_body_requirements"></tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab2">
                            <div class="separator"></div>
                            <div class="row hide show_buttons_consolidated">
                                <div class="col-sm-12">
                                    <button class="btn btn-primary btn-sm" type="button"
                                            ng-click="consolidatedRequirementExport(1)">
                                        <span class="fa fa-file-excel-o"></span>
                                        Exportar Excel
                                    </button>
                                    <button class="btn btn-danger btn-sm" type="button"
                                            ng-click="consolidatedRequirementExport(2)">
                                        <span class="fa fa-file-pdf-o"></span>
                                        Exportar PDF
                                    </button>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Item</th>
                                        <th>Artículo</th>
                                        <th>U.M.</th>
                                        <th>Cantidad</th>
                                    </tr>
                                    </thead>
                                    <tbody id="q_body_requirements_consolidated"></tbody>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab3">
                            <div class="separator"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button class="btn btn-success btn-sm" type="button" ng-click="openProvider()">
                                        <span class="fa fa-plus-circle"></span>
                                        Agregar Cotización Proveedor
                                    </button>
                                </div>
                            </div>
                            <div class="separator"></div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Número</th>
                                        <th>RUC</th>
                                        <th>Razón Social / Nombres</th>
                                        <th>Monto Total</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody id="q_body_quotations_providers"></tbody>
                                    <!--<tr>-->
                                        <!--<td>20127649872</td>-->
                                        <!--<td>INDUSTRIA DE SEGURIDAD EL PROGRESO S.A.C.</td>-->
                                        <!--<td class="text-right">1250.00</td>-->
                                        <!--<td class="text-center">-->
                                            <!--<div class="btn-group" role="group" aria-label="...">-->
                                                <!--<button class="btn btn-success btn-xs" ng-click="showPDF()" title="Ver Documento"><span class="fa fa-file-pdf-o"></span></button>-->
                                                <!--<button class="btn btn-primary btn-xs" title="Editar"><span class="fa fa-edit"></span></button>-->
                                                <!--<button class="btn btn-danger btn-xs" title="Eliminar"><span class="fa fa-trash-o"></span></button>-->
                                            <!--</div>-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>20514828670</td>-->
                                        <!--<td>3 P & CIA SAC</td>-->
                                        <!--<td class="text-right">1150.00</td>-->
                                        <!--<td class="text-center">-->
                                            <!--<div class="btn-group" role="group" aria-label="...">-->
                                                <!--<button class="btn btn-success btn-xs" ng-click="showPDF()" title="Ver Documento"><span class="fa fa-file-pdf-o"></span></button>-->
                                                <!--<button class="btn btn-primary btn-xs" title="Editar"><span class="fa fa-edit"></span></button>-->
                                                <!--<button class="btn btn-danger btn-xs" title="Eliminar"><span class="fa fa-trash-o"></span></button>-->
                                            <!--</div>-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                    <!--<tr>-->
                                        <!--<td>20509654141</td>-->
                                        <!--<td>KAPEK INTERNACIONAL SAC</td>-->
                                        <!--<td class="text-right">1270.00</td>-->
                                        <!--<td class="text-center">-->
                                            <!--<div class="btn-group" role="group" aria-label="...">-->
                                                <!--<button class="btn btn-success btn-xs" ng-click="showPDF()" title="Ver Documento"><span class="fa fa-file-pdf-o"></span></button>-->
                                                <!--<button class="btn btn-primary btn-xs" title="Editar"><span class="fa fa-edit"></span></button>-->
                                                <!--<button class="btn btn-danger btn-xs" title="Eliminar"><span class="fa fa-trash-o"></span></button>-->
                                            <!--</div>-->
                                        <!--</td>-->
                                    <!--</tr>-->
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab4">
                            <div class="separator"></div>
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Solicitado por</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control input-sm" readonly id="q_user_request">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Fecha de solicitación</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control input-sm" readonly id="q_date_request">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" ng-click="saveQuotation()">
                    <span class="fa fa-save"></span>
                    Guardar
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    <span class="fa fa-times"></span> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>