<style>
    .table-wrapper {

        max-height: 200px !important;
        width: auto !important;
        overflow: auto !important;
        display: inline-block !important;
    }

    .table-earnings {
        background: #F3F5F6 !important;
    }
   .danger_admin  th{
        background-color: #ec1415 !important;
        color:#fff;
    }

    .modal2 { 
        text-align: center;
        padding: 0 !important;
    }
   #table_container_pendienteCobro thead tr th{
        background-color: #ec1415 !important;
        color:#fff;
    }

    .modal2:before {
        content: '';
        display: inline-block; 
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

    .modal-dialog2 { 
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    .modal-open {
        overflow: scroll !important;
    }

    h5 {
        font: sans-serif;
        margin-top: 30px;
        text-align: center;
    }

    h5.linea {
        position: relative;
        z-index: 1;
    }

    h5.linea:before {
        border-top: 2px solid #D6DBDF;
        content: "";
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 95%;
        z-index: -1;
    }

    h5.linea span {

        background: #fff;
        padding: 0 15px;
    }
</style>
<div class="panel panel-danger-admin">
    <div class="panel-heading">
        Gestión de Aprobación de Ordenes de Compra
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="table_container_AprobacionOrdenCompra" class="table-responsive"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modalMovimieto" role="dialog" style="overflow-y: scroll;">
            <div class="modal-dialog  modal-lg" style="width:100%;" role="document">
                <div class="modal-content"> 
                    <div class="modal-header"> 
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="titlemodalMovimieto"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="tab-content">
                        <br>
                            <div style="float:left">
                                <button type="button" id=""  class="btn btn-primary btn-sm btn_verAprobacio">
                                    <span class="fa fa-eye"></span>
                                    Ver aprobaciones
                                </button>
                               
                               
                                 <button type="button" id=""  class="btn btn-warning btn-sm btn_Aprobar">
                                    <span class="fa fa-save"></span>
                                    Aprobar
                                </button>
                                <button type="button" id=""  class="btn btn-info btn-sm btn_Rechazar">
                                    <span class="fa fa-ban"></span>
                                    Rechazar
                                </button>
                                <button type="button" id=""  class="btn btn-danger-admin btn-sm btn_observacion">
                                    <span class="fa fa-ban"></span>
                                    Observación de Aprobación
                                </button>
                            </div>
                          <br>
                        </div>
                        <br>
                          <br>
                        <div class="form-horizontal">
                            <div class="row">
                              <form id="id_formulario">
                                <div class="col-md-12">
                                    <input type="hidden" id="idMovimiento" >
                                    <input type="hidden" id="idNaturaleza" >
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">Consecutivo</label>
                                        <div class="col-sm-2">
                                            <select id="cCodConsecutivo" name="cCodConsecutivo"
                                                class="form-control input-sm"></select>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control input-sm" id="nConsecutivo"
                                                name="nConsecutivo" readonly />
                                        </div>
                                        <label class="col-sm-2 control-label">Fecha registro</label>
                                        <div class="col-sm-2">
                                            <input type="date" class="form-control input-sm" id="fecha_registro">
                                        </div>
                                        <label class="col-sm-1  control-label">Estado</label>
                                        <div class="col-sm-2">
                                           <select id="estado" name="estado" disabled="disabled" style="width: 100%;"
                                                class="form-control input-sm js-example-responsive">
                                                <option value="" selected> </option>
                                                <option value="1">Registrado</option>
                                                <option value="2">Por Aprobar</option>
                                                <option value="3">Aprobado</option>
                                                <option value="4">Recibido</option>
                                                <option value="5">Backorder</option>
                                                <option value="6">Cerrado</option>
                                                <option value="7">Cancelado</option>
                                                <option value="8">Rechazado</option>
                                            </select>
                                         </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-1 control-label">Prioridad</label>
                                        <div class="col-sm-2">
                                           <select id="prioridad" class="form-control input-sm">
                                             <option value="" selected>Seleccionar</option>
                                             <option value="A">Alta</option>
                                             <option value="M">Media</option>
                                             <option value="B">Baja</option>
                                           </select>
                                        </div>
                                        <label class="col-sm-2 col-sm-offset-2 control-label">Fecha requerida</label>
                                        <div class="col-sm-2">
                                            <input type="date" class="form-control input-sm" id="fecha_requerida">
                                        </div>
                                        <label class="col-sm-1  control-label">Moneda</label>
                                        <div class="col-sm-2">
                                            <select id="idMoneda" name="idMoneda"  style="width: 100%;"
                                                    class="form-control input-sm js-example-responsive">
                                                    <option value="" selected> </option>
                                                    <option value="0">Registrado</option>
                                            </select>
                                        </div>
                                    </div>
                                     <input type="hidden" id="iEstadoConformidad">
                                    <div class="form-group">
                                        <label class="col-sm-1  control-label">Proveedor</label>
                                        <div class="col-sm-4">
                                            <select id="idProveedor" name="idProveedor"  style="width: 100%;"
                                                    class="form-control input-sm js-example-responsive">
                                            </select>
                                        </div>
                                        <label class="col-sm-2  control-label">Condición de Pago</label>
                                        <div class="col-sm-2" >
                                            <select id="idcondicion_pago" name="idcondicion_pago"  style="width: 100%;"
                                                    class="form-control input-sm js-example-responsive">
                                                    <option value="" selected> </option>
                                                    <option value="0">Registrado</option>
                                            </select>
                                        </div>
                                        
                                    </div> 
                                    <div class="form-group">
                                      <label class="col-sm-1 control-label">Dirección</label>
                                        <div class="col-sm-11">
                                            <input type="text" class="form-control input-sm" id="direccionEntrega">
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                      <label class="col-sm-1 control-label">Comentarios</label>
                                        <div class="col-sm-11">
                                             <textarea name="comentario" id="comentario" cols="30" rows="3"
                                                class="form-control input-sm"></textarea>
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                      <label class="col-sm-1 control-label">Comentarios Aprobación</label>
                                        <div class="col-sm-11">
                                             <textarea name="comentarioAprobacion" id="comentarioAprobacion" cols="30" rows="3"
                                                class="form-control input-sm" disabled></textarea>
                                        </div>
                                    </div>  
                                    <div class="form-group">
                                      <label class="col-sm-1 control-label">Impuesto</label>
                                      <div class="col-sm-2">
                                          <label class="checkbox-inline i-checks">
                                              <input type="checkbox" id="p_state" >
                                          </label>
                                      </div>
                                    </div>  
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label">&nbsp;</label>
                                        <div class="col-sm-5">
                                             
                                             <!--  <button type="button" id="btn-guardarMovimiento" class="btn btn-danger-admin btn-sm" >
                                                <span class="fa fa-save"></span>
                                                Guardar
                                             </button> -->
                                             <button type="button" class="btn btn-success btn-sm" id="btn_imprimirMovimiento">
                                                <span class="fa fa-file-pdf-o"></span>
                                                Imprimir
                                             </button>
                                            
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                       <input type="hidden" id="ident_detalle">
                                    </div>
                                    <div class="table-responsive">
                                            <table class="table table-bordered table-striped table-hover" id="tabla_articulo_movi" >
                                                <thead>
                                                    <tr>
                                                         <th  width="150px" height="20px" >Artículo</th>
                                                         <th width="90px" height="20px">Cantidad</th>
                                                          <!-- <th width="90px" height="20px">Unidad Medida</th> -->
                                                         <th width="90px" height="20px">Cantidad Pendiente</th>
                                                          <th width="90px" height="20px">Cantidad Recibida</th>
                                                          <th width="90px" height="20px">Cantidad Devuelta</th>   <th width="150px" height="20px">Precio Unitario</th> 
                                                            <th width="100px" height="20px">Precio Total</th>
                                                          <th width="100px" height="20px">Descuentos</th>
                                                          <th width="90px" height="20px">Porcentaje</th>
                                                          <th width="90px" height="20px">Monto Descuento</th>
                                                        <th width="90px" height="20px">Valor Compra</th>
                                                         <th width="90px" height="20px">Impuesto</th>
                                                        <th width="90px" height="20px">Total</th>
                                                         <th width="130px">Fecha</th>
                                                         <th width="160px">Estado</th>
                                                        <th width="50px"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="articulo_mov_det"></tbody>
                                            </table>
                                    </div> 
                                    <br>
                                    <div class="col-md-12 ">
                                                    <div class="form-group">
                                                           <label class="col-sm-1  control-label">
                                                             Descuento
                                                           </label>
                                                          <div class="col-sm-2">
                                                              <select id="totalDescuento" class="totalDescuento form-control input-sm" style="width: 100%" /> </select>
                                                          </div>
                                                           <label class="col-sm-1  control-label">
                                                             Porcentaje
                                                           </label>
                                                           <div class="col-sm-2">
                                                              <input id="porcentajeTotal" class="form-control input-sm"  value="0"  disabled />
                                                          </div>
                                                            <label class="col-sm-2  control-label">
                                                             Monto descuento
                                                           </label>
                                                            <div class="col-sm-3 col-md-offset-1">
                                                              <input id="montoTotal" class="form-control input-sm"    disabled value="0"/>
                                                          </div> 
                                                    </div>
                                                    <div class="form-group">
                                                           <label class="col-sm-2 col-md-offset-6 control-label">Total</label>
                                                          <div class="col-sm-3 col-md-offset-1">
                                                              <input data-total="0" data-impuesto="0" id="desTotal" class="form-control input-sm" disabled  value="0" />
                                                          </div>
                                                    </div>
                                      </div>
                                   
                                </div>
                            </div>   
                        </div>  
                    </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">
                            <span class="fa fa-times"></span> Cerrar 
                        </button>
                    </div>
                </div>
            </div>
</div>
<div class="modal" id="modalVerAproba" role="dialog">
    <div class="modal-dialog" role="document">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="titleModalClientes">Aprobadores</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="row">
                       <div class="form-horizontal">
                                        <br> 
                                     
                                            <div class="table-responsive">
                                            <table class="table table-bordered table-striped table-hover" id="tabla_articulo_movi" >
                                                <thead >
                                                    <tr class="danger_admin" >
                                                        <th>Aprobadores</th>
                                                        <th>Comentarios</th>
                                                        <th>Fecha registro</th>
                                                        <th>Fecha modificación</th>
                                                        <th>Estado</th> 
                                                    </tr>
                                                </thead>
                                                <tbody id="aprobadores_table"></tbody>
                                            </table>
                                            </div> 
                                      
                        </div> 
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
            </div>

        </div>

    </div>
</div>
<div class="modal" id="modalObservacion" role="dialog" style="overflow-y: scroll;">
            <div class="modal-dialog " role="document">
               <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="titleModalLote">Comentario Aprobación</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <label class="control-label">Comentario</label>
                                            <textarea name="comentario_aprobacion" id="comentario_aprobacion" cols="30" rows="3"
                                                class="form-control input-sm"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btn_guardarObservacion"  class="btn btn-danger-admin btn-sm"
                            >Guardar</button>
                        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
</div>
<div class="modal" id="modalAprobar" role="dialog" style="overflow-y: scroll;">
            <div class="modal-dialog " style="width:80%;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="titleModalProduct"></h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a data-target="#general" aria-controls="general" role="tab" data-toggle="tab">Pendiente de pagar</a>
                                </li>
                                <li role="presentation">
                                    <a data-target="#sales" aria-controls="sales" role="tab"
                                       data-toggle="tab">Comentarios</a>
                                </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="general">
                                    <br>
                                  
                                        <div class="col-md-12">
                                            <div id="table_container_pendienteCobro" class="table-responsive"></div>
                                        </div>
                                   
                                </div>
                                <div role="tabpanel" class="tab-pane " id="sales">
                                    <div class="form-horizontal">
                                        <div class="row"> 
                                            <div class="col-md-12">
                                                <br>
                                                <div class="form-group">
                                                    <label class="col-sm-2 control-label">Comentarios</label>
                                                    <input type="hidden" id="estadoApro">
                                                    <input type="hidden" id="nCodConformidad">
                                                    <div class="col-sm-10">
                                                        <textarea id="AprobaComentario" rows="2"
                                                                  class="form-control input-sm"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger-admin btn-sm" ng-click="aprobarSolitud()">
                            <span class="fa fa-save"></span>
                            Aceptar
                        </button>
                        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">
                            <span class="fa fa-times"></span> Cerrar
                        </button>
                    </div>
                </div>
            </div>
</div>