<div class="panel panel-success">
    <div class="panel-heading">
        Gestión de Reposición de Caja
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="table_container_rc" class="table-responsive"></div>
            </div>
        </div>
        <div ng-include src="'/templates/replenishment_cashs/form.html'"></div>
        <div ng-include src="'/templates/replenishment_cashs/cash_girl.html'"></div>
        <div ng-include src="'/templates/replenishment_cashs/provider.html'"></div>
    </div>
</div>