
<style>
   .table-wrapper {

  max-height: 200px !important;
  width: auto !important;
  overflow: auto !important;
  display:inline-block !important;
}
.table-earnings {
  background: #F3F5F6 !important;
}
.modal2 {
  text-align: center;
  padding: 0!important;
}

.modal2:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog2 {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
</style>
<div class="panel  panel-danger-admin">
    <div class="panel-heading">
        Gestión de Transferencia
    </div>
    <div class="panel-body">
        <div class="row"> 
            <div class="col-md-12">
                <div id="table_container_Register_Trasnfer" class="table-responsive"></div>
            </div>
        </div>
       
        
        <div ng-include src="'/templates/partials/crop.html'"></div>
    </div>
</div>
<div class="modal" id="modalMovimieto" role="dialog" style="overflow-y: scroll;">
            <div class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="titlemodalMovimieto"></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" id="idMovimiento" >
                                    <input type="hidden" id="idNaturaleza" >
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Operación</label>
                                        <div class="col-sm-3">
                                           <select id="idTipoOperacion" class="form-control input-sm"></select>
                                        </div>
                                        <label class="col-sm-1 control-label">Fecha</label>
                                        <div class="col-sm-3">
                                            <input type="date" class="form-control input-sm" id="fecha_registro">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Observaciones</label>
                                        <div class="col-sm-7">
                                            <textarea id="observaciones" rows="3"
                                                                  class="form-control input-sm"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Estado</label>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control input-sm" id="p_state" readonly>
                                        </div>
                                        <label class="col-sm-1 control-label">&nbsp;</label>
                                        <div class="col-sm-4">
                                              <button type="button" id="btn-guardarMovimiento" class="btn btn-danger-admin btn-sm" >
                                                <span class="fa fa-save"></span>
                                                Guardar
                                             </button>
                                             <button type="button" disabled class="btn btn-info btn-sm" id="ProcesarTransferenciaBoton">
                                                <span class="fa fa-save"></span>
                                                Procesar
                                             </button>
                                             <button type="button" class="btn btn-success btn-sm" id="btn_imprimirTransferencia">
                                                <span class="fa fa-file-pdf-o"></span>
                                                Imprimir
                                             </button>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                       <input type="hidden" id="ident_detalle">
                                        <div class="col-sm-2">
                                              <button type="button" class="btn btn-danger-admin btn-sm" ng-click="addArticulo()">
                                                <span class="fa fa-plus"></span>
                                                Agregar Artículo
                                             </button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                            <table class="table table-bordered table-striped table-hover" id="tabla_articulo_movi" >
                                                <thead>
                                                    <tr>
                                                        <th>Artículo</th>
                                                        <th>Almacén O</th>
                                                        <th>Localización O</th>
                                                        <th>Almacén D</th>
                                                        <th>Localización D</th>
                                                        <th width="80px" height="20px">Cantidad</th>
                                                         <th width="80px" height="20px">Costo</th>
                                                         <th  >Costo Total</th>
                                                         <th width="50px"></th>
                                                        <th width="50px"></th>
                                                    </tr>
                                                </thead>
                                                <tbody id="articulo_mov_det"></tbody>
                                            </table>
                                    </div> 
                                </div>
                            </div>   
                        </div>  
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger-admin btn-sm"  id="btn_movimiento_detalle" disabled ng-click="guardarMovimientoDetalle()">
                            <span class="fa fa-save"></span>
                            Guardar
                        </button>
                        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">
                            <span class="fa fa-times"></span> Cerrar
                        </button>
                    </div>
                </div>
            </div>
</div>

<div class="modal modal2 fade" id="modalDeleteMovimiento" role="dialog">
    <div class="modal-dialog  modal-dialog2 modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">¿Esta seguro ?</h4>
          <input type="hidden" id="idMovimientoDelete">
        </div>
        <div class="modal-body">
          <div class="alert alert-danger hide" role="alert" id="msg_cont_EliminarMovimiento">
              <span class="fa fa-warning"></span>
              <p></p>            
          </div> 
          <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span> El registro será eliminado. ¿Está seguro?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger-admin btn-sm"    ng-click="EliminarMovimiento()">
              Eliminar 
          </button>
          <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">
             Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal modal2 fade" id="modalProcesarTransferencia" role="dialog">
    <div class="modal-dialog  modal-dialog2 modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">¿Esta seguro ?</h4>
          <input type="hidden" id="idTransferenciaProcesar">
        </div>
        <div class="modal-body">
          <div class="alert alert-danger hide" role="alert" id="msg_cont_ProcesarTransferencia">
              <span class="fa fa-warning"></span>
              <p></p>            
          </div> 
          <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span> El registro será Procesado. ¿Está seguro?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger-admin btn-sm"   ng-click="ProcesarTransferencia()">
              Procesar 
          </button>
          <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">
             Cerrar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal " id="modalMovimietoArticulo" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <input type="hidden" id="idenifcador_table_art" value="I">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="titlemodalMovimietoArticulo">Artículos</h4>
        </div>
        <div class="modal-body">
             <div class="row">
                <div class="col-md-12">
                    <div id="table_container_Register_Articulo" class="table-responsive"></div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input type="hidden" id="idArtSerie">
                    <input type="hidden" id="cantArtSerie">
                     <input type="hidden" id="desArtSerie">
                    
                </div> 
            </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-danger-admin btn-sm" ng-click="addArtLisSeri()">
            <span class="fa fa-plus"></span>
                            Agregar
        </button>   
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
</div> 


<div class="modal" id="modalKit" role="dialog">
    <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="titleModalLote">Kit</h4>
        </div>
        <div class="modal-body">
              <div class="form-horizontal">
                 <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger hide" role="alert" id="msg_cont">
                            <span class="fa fa-warning"></span>
                            Debe seleccionar un Artículo
                        </div> 
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Artículo</label>
                                <div class="col-sm-6">
                                        <input type="hidden" id="idProductoMK" readonly class="form-control input-sm">
                                        <input type="hidden" id="costoMK" readonly class="form-control input-sm">
                                        <input type="text" id="desProductoMK" readonly class="form-control input-sm">
                                </div>
                            <label class="col-sm-2 control-label">Cantidad</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control input-sm" id="cantProductoMK">
                            </div>   
                        </div>
                    </div>
                 </div>   
              </div>  
        </div>
        <div class="modal-footer">
        <!-- <button type="button" class="btn btn-danger-admin btn-sm" ng-click="addArtkit()" >Agregar</button>   -->
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
</div>
<div class="modal" id="modalNada" role="dialog">
    <div class="modal-dialog" role="document">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="titleModalLote">Artículo</h4>
        </div>
        <div class="modal-body">
              <div class="form-horizontal">
                 <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger hide" role="alert" id="msg_cont">
                            <span class="fa fa-warning"></span>
                            Debe seleccionar un Artículo
                        </div> 
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Artículo</label>
                                <div class="col-sm-6">
                                        <input type="hidden" id="idProductoMN" readonly class="form-control input-sm">
                                        <input type="hidden" id="costoNa" readonly class="form-control input-sm">
                                        <input type="text" id="desProductoMN" readonly class="form-control input-sm">
                                </div>
                            <label class="col-sm-2 control-label">Cantidad</label>
                            <div class="col-sm-2">
                                <input type="text" class="form-control input-sm" id="cantProductoMN">
                            </div>   
                        </div>
                    </div>
                 </div>   
              </div>  
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
</div>
<div class="modal " id="modalAlmacenArticulo" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="titlemodalAlmacenArticulo">Stock en Almacén</h4>
        </div>
        <div class="modal-body">
             <div class="row">
                <div class="col-md-12">
                    <div id="table_container_Almacen_Articulo" class="table-responsive"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-danger-admin btn-sm" ng-click="addArtLisSeri()">
            <span class="fa fa-plus"></span>
                            Agregar
        </button>   
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
</div>
<div class="modal" id="modalLoteR" role="dialog">
    <div class="modal-dialog" role="document">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="titleModalLote">Lote</h4>
        </div>
        <div class="modal-body">
              <div class="form-horizontal">
                 <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger hide" role="alert" id="msg_cont">
                            <span class="fa fa-warning"></span>
                            Debe seleccionar un Artículo
                        </div> 
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Artículo</label>
                                <div class="col-sm-6">
                                    <input type="hidden" id="idLoteMll2" readonly class="form-control input-sm">
                                     <input type="hidden" id="idLoteMll" readonly class="form-control input-sm">
                                        <input type="hidden" id="idProductoMll" readonly class="form-control input-sm">
                                         <input type="hidden" id="costoAL" readonly class="form-control input-sm">
                                        <input type="text" id="desProductoMll" readonly class="form-control input-sm">
                                </div>
                            <label class="col-sm-2 control-label">Cantidad</label>
                            <div class="col-sm-2">
                                <input type="text" id="cantProductoMll" onkeypress="return soloNumeros(event)"  class="form-control input-sm">
                            </div>    
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Lote</label>
                                <div class="col-sm-6">
                                <input type="text" id="codigoLoteMll" class="form-control input-sm">
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fecha Vencimiento</label>
                            <div class="col-sm-4">
                            <input type="text" id="fechaVl" readonly class="form-control input-sm">
                            </div>    
                        </div>
                    </div>
                 </div>   
              </div>  
        </div>
        <div class="modal-footer">
        <button id="btn_Lotd" disabled type="button" class="btn btn-danger-admin btn-sm"  ng-click="addLoteExi()" >Agregar</button>      
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
</div>
<div class="modal" id="modalSerieR" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="titleModalLote">Serie</h4>
        </div>
        <div class="modal-body">
              <div class="form-horizontal">
                 <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger hide" role="alert" id="msg_cont">
                            <span class="fa fa-warning"></span>
                            Debe seleccionar un Artículo
                        </div> 
                        <div class="form-group">
                            <input type="hidden" id="identSerAr">
                            <label class="col-sm-2 control-label">Artículo</label>
                                <div class="col-sm-6">
                                        <input type="hidden" id="idProductoMss" readonly class="form-control input-sm">
                                        <input type="hidden" id="costoAS" readonly class="form-control input-sm">
                                        <input type="text" id="desProductoMss" readonly class="form-control input-sm">
                                </div>
                            <label class="col-sm-1 control-label">Cantidad</label>
                                <div class="col-sm-2">
                                        <input type="text" id="cantProductoMss"  class="form-control input-sm" onkeypress="return soloNumeros(event)">
                                </div>    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="table_container_Series_Articulo" class="table-responsive"></div>
                            </div>
                        </div>
                        <div class="table-responsive table-wrapper">
                            <table class="table table-bordered table-striped table-hover" id="tabla_articulo_serie">
                                    <thead id="table_serie_cabecera">
                                        <!-- <tr>
                                            <th width="250px" >Artículo</th>
                                            <th width="250px" height="20px">Nr° Serie</th>
                                            <th width="250px" height="20px">Chasis</th>
                                            <th width="250px" height="20px">Motor</th>
                                            <th width="100px" height="20px">Color</th>
                                            <th width="150px" height="20px">Año fabricación</th>
                                            <th width="100px" height="20px">Año Modelo</th>
                                        </tr> -->
                                    </thead>
                                    <tbody id="articulo_serie_det"></tbody>
                            </table> 
                        </div>
                    </div>
                 </div>   
              </div>  
        </div>
        <div class="modal-footer">
         <button type="button" id="btn_serC"  disabled class="btn btn-danger-admin btn-sm" ng-click="addSerieCompleTab()" >Agregar</button>      
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
</div>  
<div class="modal" id="modalLote" role="dialog">
    <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="titleModalLote">Lote</h4>
        </div>
        <div class="modal-body">
              <div class="form-horizontal">
                 <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger hide" role="alert" id="msg_cont">
                            <span class="fa fa-warning"></span>
                            Debe seleccionar un Artículo
                        </div> 
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Artículo</label>
                                <div class="col-sm-6">
                                         <input type="hidden" id="idLoteML2">
                                        <input type="hidden" id="idLoteML">
                                        <input type="hidden" id="idProductoML" readonly class="form-control input-sm">
                                        <input type="text" id="desProductoML" readonly class="form-control input-sm">
                                </div>
                            <label class="col-sm-2 control-label">Cantidad</label>
                            <div class="col-sm-2">
                                <input type="text" onkeypress="return soloNumeros(event)" class="form-control input-sm" id="cantProductoML">
                            </div>    
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Lote</label>
                            <div class="col-sm-4">
                                <input type="text" readonly class="form-control input-sm" id="lotProductoML">
                            </div>
                            <label class="col-sm-2 control-label">Fecha de Ingreso</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control input-sm hasDatepicker" id="fIngrePrML">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fecha de Vencimiento</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control input-sm hasDatepicker" id="fVenPrML">
                            </div>
                        </div>
                    </div>
                 </div>   
              </div>  
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-danger-admin btn-sm" ng-click="addArtLote()" >Agregar</button>  
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
</div>