<!-- Modal -->
<div class="modal" id="modalC" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Cuadro Comparativo de la Cotización</h4>
            </div>
            <div class="modal-body">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a data-target="#chart" aria-controls="chart" role="tab" data-toggle="tab">Cuadro Comparativo</a>
                        </li>
                        <li role="presentation">
                            <a data-target="#requirements" aria-controls="requirements" role="tab" data-toggle="tab">Requerimientos</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="chart">
                            <br>
                            <form class="form-inline" style="margin-bottom: 5px">
                                <div class="form-group">
                                    <label class="control-label">Leyenda:</label>
                                    <label>
                                        <span class="fa fa-check"></span> Marcado por el Sistema /
                                        <span class="fa fa-check fa-blue"></span> Marcado por el Comprador
                                    </label>
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped" border="1">
                                    <thead>
                                    <tr class="text-center">
                                        <th colspan="2" rowspan="2">CONSOLIDADO DE REQUERIMIENTOS</th>
                                        <th class="text-center" colspan="12">PROVEEDORES</th>
                                        <th class="text-center" rowspan="3">TOTAL</th>
                                    </tr>
                                    <tr class="text-center">
                                        <th class="text-center" colspan="4">3 P & CIA SAC</th>
                                        <th class="text-center" colspan="4">INDUSTRIA DE SEGURIDAD EL PROGRESO S.A.C.</th>
                                        <th class="text-center" colspan="4">KAPEK INTERNACIONAL SAC</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center">ARTICULO</th>
                                        <th class="text-center">CANTIDAD TOTAL</th>
                                        <th class="text-center">CANTIDAD</th>
                                        <th class="text-center">PRECIO</th>
                                        <th class="text-center" colspan="2">TOTAL</th>
                                        <th class="text-center">CANTIDAD</th>
                                        <th class="text-center">PRECIO</th>
                                        <th class="text-center" colspan="2">TOTAL</th>
                                        <th class="text-center">CANTIDAD</th>
                                        <th class="text-center">PRECIO</th>
                                        <th class="text-center" colspan="2">TOTAL</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>BARBIQUEJO</td>
                                        <td class="text-right">24</td>
                                        <td class="text-right">0</td>
                                        <td class="text-right">0.95</td>
                                        <td class="text-right">
                                            22.80
                                        </td>
                                        <td style="width: 40px"></td>
                                        <td class="text-right">0</td>
                                        <td class="text-right">0.90</td>
                                        <td class="text-right">
                                            21.60
                                        </td>
                                        <td style="width: 40px">
                                            <span class="fa fa-check"></span>
                                        </td>
                                        <td class="text-right">24</td>
                                        <td class="text-right">0.92</td>
                                        <td class="text-right">
                                            22.08
                                        </td>
                                        <td style="width: 40px">
                                            <span class="fa fa-check fa-blue"></span>
                                        </td>
                                        <th class="text-right">22.08</th>
                                    </tr>
                                    <tr>
                                        <td>BOTAS DE SEGURIDAD</td>
                                        <td class="text-right">30</td>
                                        <td class="text-right">30</td>
                                        <td class="text-right">63.96</td>
                                        <td class="text-right">
                                            1918.80
                                        </td>
                                        <td style="width: 40px">
                                            <span class="fa fa-check"></span>
                                            <span class="fa fa-check fa-blue"></span>
                                        </td>
                                        <td class="text-right">0</td>
                                        <td class="text-right">65.15</td>
                                        <td class="text-right">
                                            1954.15
                                        </td>
                                        <td style="width: 40px"></td>
                                        <td class="text-right">0</td>
                                        <td class="text-right">64.05</td>
                                        <td class="text-right">
                                            1921.50
                                        </td>
                                        <td style="width: 40px"></td>
                                        <th class="text-right">1918.80</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            CAMISA OXFORD TIPO SUPERVISOR - <br>
                                            TS: 2 UNIDADES<br>
                                            TM: 3 UNIDADES<br>
                                            TL: 2 UNIDADES
                                        </td>
                                        <td class="text-right">30</td>
                                        <td class="text-right">30</td>
                                        <td class="text-right">32.00</td>
                                        <td class="text-right">
                                            960.00
                                        </td>
                                        <td style="width: 40px">
                                            <span class="fa fa-check fa-blue"></span>
                                        </td>
                                        <td class="text-right">0</td>
                                        <td class="text-right">35.00</td>
                                        <td class="text-right">
                                            1050.00
                                        </td>
                                        <td style="width: 40px"></td>
                                        <td class="text-right">0</td>
                                        <td class="text-right">31.50</td>
                                        <td class="text-right">
                                            945.00
                                        </td>
                                        <td style="width: 40px">
                                            <span class="fa fa-check"></span>
                                        </td>
                                        <th class="text-right">960.00</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            CAMISA DENIM TIPO OPERATIVO - <br>
                                            TM: 12 UNIDADES<br>
                                            TL: 12 UNIDADES<br>
                                            TXL: 6 UNIDADES
                                        </td>
                                        <td class="text-right">30</td>
                                        <td class="text-right">0</td>
                                        <td class="text-right">28.50</td>
                                        <td class="text-right">
                                            855.00
                                        </td>
                                        <td style="width: 40px"></td>
                                        <td class="text-right">30</td>
                                        <td class="text-right">29.00</td>
                                        <td class="text-right">
                                            870.00
                                        </td>
                                        <td style="width: 40px">
                                            <span class="fa fa-check fa-blue"></span>
                                        </td>
                                        <td class="text-right">0</td>
                                        <td class="text-right">28.00</td>
                                        <td class="text-right">
                                            840.00
                                        </td>
                                        <td style="width: 40px">
                                            <span class="fa fa-check"></span>
                                        </td>
                                        <th class="text-right">870.00</th>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th colspan="2" class="text-right">TOTAL:</th>
                                        <th colspan="4" class="text-right">2878.80</th>
                                        <th colspan="4" class="text-right">870.00</th>
                                        <th colspan="4" class="text-right">22.08</th>
                                        <th class="text-right">3770.88</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="requirements">
                            <br>
                            <div class="table-responsive">
                                <table class="table table-bordered table-stripped table-hover">
                                    <thead>
                                    <tr>
                                        <th>Requerimiento</th>
                                        <th>Emisión</th>
                                        <th>Id Proyecto</th>
                                        <th style="width: 40%">Descripción Proyecto</th>
                                        <th>Solicitado por</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>00467</td>
                                        <td>01/04/2017</td>
                                        <td>00045</td>
                                        <td>OI-SALONICA</td>
                                        <td>JARRISON MORI</td>
                                    </tr>
                                    <tr>
                                        <td>00469</td>
                                        <td>01/04/2017</td>
                                        <td>00045</td>
                                        <td>OI-SALONICA</td>
                                        <td>JARRISON MORI</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm">
                    <span class="fa fa-check"></span>
                    Aprobar
                </button>
                <button type="button" class="btn btn-danger btn-sm" ng-click="reject()">
                    <span class="fa fa-times"></span>
                    Rechazar
                </button>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">
                    <span class="fa fa-times"></span> Cerrar
                </button>
            </div>
        </div>
    </div>
</div>