<div class="panel panel-default">
    <div class="panel-heading titleAdminCont">
        <h4 class="panel-title title_admin">
            <button type="button" id="btn-load-image-crop" class="btn btn-sm btn-success pull-right">
                <span class="fa fa-plus"></span>
                Agregar
            </button>
            Foto del producto <br>
            <small>
                (Tamaño máximo de la imagen: 5 Mb.)
            </small>
        </h4>
    </div>
    <div id="contentMsgAddCrop" class="hide">
        <div id="contentItemMsgAddCrop" class="imgCont__crop text-center" style="height:170px;">
            <div class="loading-crop">
                <i class="fa fa-spinner fa-3x fa-pulse"></i>
                <br/><b>Cargando imagen</b>
            </div>
        </div>
    </div>
    <div class="panel-body panel-form room_imgEmpty" style="min-height:250px">
        <div class="form-horizontal form-bordered">
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <div class="contentImgCrop"></div>
                </div>
            </div>
        </div>
    </div>
</div>