<div class="panel panel-success">
    <div class="panel-heading">
        Gestión de Gastos de Caja Chica
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="table_container_ceg" class="table-responsive"></div>
            </div>
        </div>
        <div ng-include src="'/templates/cash_expense_girls/form.html'"></div>
        <div ng-include src="'/templates/cash_expense_girls/document.html'"></div>
        <div ng-include src="'/templates/cash_expense_girls/cash_girl.html'"></div>
        <div ng-include src="'/templates/cash_expense_girls/proyect.html'"></div>
        <div ng-include src="'/templates/cash_expense_girls/provider.html'"></div>
        <div ng-include src="'/templates/cash_expense_girls/matriz.html'"></div>
        <div ng-include src="'/templates/cash_expense_girls/document_detail.html'"></div>
    </div>
</div>